<p>footer-navigation works!</p>

<div class="footer-navigation-menu-column">
  <a href="#">Popular Topics</a>

  <a href="#">Agile & Lean UX</a>
  <a href="#">Application Design</a>
  <a href="#">Design Process</a>
  <a href="#">Ecommerce Design</a>
  <a href="#">Eyetracking</a>
  <a href="#">Information Architecture</a>
  <a href="#">Interaction Design</a>
  <a href="#">Intranet Design</a>
  <a href="#">Mobile & Tablet Design</a>

  <a href="#">Persuative Design</a>
  <a href="#">Research Methods</a>
  <a href="#">User Testing</a>
  <a href="#">UX Teams</a>
  <a href="#">Web Usability</a>
  <a href="#">Writing & Content</a>
</div>

<div class="footer-navigation-menu-column">
  <a href="#">About</a>

  <a href="#">Contact Information</a>
  <a href="#">About Us</a>
  <a href="#">Why NN/g?</a>
  <a href="#">Return Policy</a>
  <a href="#">Cookie Declaration</a>
  <a href="#">Privacy Policy</a>
</div>

<div class="footer-navigation-menu-column">
  <a href="#">Follow Us</a>

  <app-follow-cards></app-follow-cards>

  <app-footer-contact-info></app-footer-contact-info>
</div>
