<div class="contact-content-wrapper">
  <header class="contact-content-header">
    <h1 class="title">Contact Us</h1>
    <h4 class="subtitle">We're open for any suggestion or just to have a chat</h4>
  </header>

  <main class="contact-content-main">
    <div class="contact-details">
      <div class="contact-details-column">
        <h4 class="title">Address:</h4>
        <a class="info">198 West 21th Street, Suite 721 New York NY 10016</a>
      </div>

      <div class="contact-details-column">
        <h4 class="title">Email:</h4>
        <a class="info">info@yoursite.com</a>
      </div>

      <div class="contact-details-column">
        <h4 class="title">Phone:</h4>
        <a class="info">+ 1235 2355 98</a>
      </div>
    </div>

    <form class="contact-form">
      <div class="form-group horizontal">
        <label for="name" class="form-label">Name</label>
        <input type="text" placeholder="Name" id="name" class="form-control">

        <p class="form-validation-message">Validation error message content.</p>
      </div>

      <div class="form-group horizontal">
        <label for="email" class="form-label">Email</label>
        <input type="email" placeholder="Email" id="email" class="form-control">
      </div>

      <div class="form-group horizontal">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" placeholder="Subject" id="subject" class="form-control">
      </div>

      <div class="form-group horizontal">
        <label for="message" class="form-label">Message</label>
        <textarea cols="30" rows="3" placeholder="Create a message here." id="message" class="form-control"></textarea>
      </div>

      <button class="submit-form-button">Send Message</button>
    </form>
  </main>

  <footer class="contact-content-footer">
    <h3 class="title">Follow us here</h3>

    <div class="contact-social-links">
      <a class="social-link">Facebook</a>
      <a class="social-link">Twitter</a>
      <a class="social-link">Instagram</a>
      <a class="social-link">Dribbble</a>
    </div>
  </footer>
</div>

<!--<div class="contact-media-wrapper"></div>-->
