<app-page-banner
  [bannerTitle]="'Language and grammar'"
  [bannerDescription]="'Use conventions to make your writing clear, consistent, and localizable.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Abbreviations</h4>

  <p class="paragraph-text mb-16">Don't use internal abbreviations in customer-facing copy.</p>

  <p class="paragraph-text mb-16">Don't use apostrophes for plural abbreviations.</p>

  <p class="paragraph-text mb-16">Don't use i.e. or e.g. They are not localization friendly.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: Jira Service Desk, jira.atlassian.com,
        developer.atlassian.com</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: JSD, JAC, DAC, CD's, 1980's, i.e., e.g.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Active voice</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: Administrators control user access to Atlassian Cloud applications.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: User access to Atlassian Cloud applications is controlled by
        administrators.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Bold</h4>

  <p class="paragraph-text mb-16">Use bold text to draw the reader's eye to key phrases and statements in your email and
    web content. For product copy or help articles, use bold for static UI elements like menu items, buttons, screen
    headings, and anything else you want to call attention to.</p>

  <p class="paragraph-text mb-16">If you need to bold an element but the UI doesn't support it, for example, in a dialog
    header or a UI message, you can use italics instead.</p>

  <p class="paragraph-text mb-16">Use italics for fields that might change, like a page name. See italics for more
    guidelines.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: Go to General Configuration > User Macros.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: Go to the settings page and select Configuration.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Capitalization</h4>

  <p class="paragraph-text mb-16">Use sentence case in all titles, headings, menu items, labels, and buttons.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: This is the new Jira experience!</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: This Is The New JIRA Experience!</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Double no: tHiS iS tHe nEw JIRA eXpErIeNcE!</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Colons</h4>

  <p class="paragraph-text mb-16">Use colons to introduce a bulleted list or series of steps. Don't use colons at the
    end of headings.</p>

  <h4 class="heading-4 mb-20 pt-48">Contractions</h4>

  <p class="paragraph-text mb-16">In keeping with our more conversational, friendly voice, use contractions.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: Can't, don't, it's</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: Cannot, can not, it is</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Dashes</h4>

  <p class="paragraph-text mb-16">Use em dashes sparingly to indicate an abrupt or dramatic change in a sentence — like
    this. lf the break happens in the middle of a sentence — like this — use em dashes on either side of the
    phrase. </p>

  <p class="paragraph-text mb-16">Em dashes can help avoid confusion when the phrase being set apart contains several
    commas, such as a mid-sentence list. In general, though, try to keep sentences as short and simple as possible to
    avoid excessively complex punctuation.</p>

  <p class="paragraph-text mb-16">Use spaces on either side of an em dash. Use option-shift-hyphen to make an em dash on
    a Mac.</p>

  <p class="paragraph-text mb-16">For ranges of numbers, use a hyphen with no spaces — not an em or en dash.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: The newly released Jira 6 — our best Jira yet — will be available next
        week.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: The newly released Jira 6—our best Jira yet—will be available next week.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Yes: He said his friends — Mike, Jurgen, and Scott — would be arriving late. They
        should arrive anywhere from 2-4.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: He said his friends - Mike and Scott - would be arriving late. They should
        arrive anywhere from 2—4.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Dates and times</h4>

  <p class="paragraph-text mb-16">See <a href="#">Date and time guideline.</a></p>

  <h4 class="heading-4 mb-20 pt-48">Direct quotes</h4>

  <p class="paragraph-text mb-16">Quote with quotes, not italics.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: "Jira Software is the best software ever!" said Charlie.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: Jira Software is just ok. said Charlie.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Exclamation marks</h4>

  <p class="paragraph-text mb-16">Avoid exclamation marks! They should only be used for exciting or new things! At most,
    there should only be one exclamation mark per page!</p>

  <h4 class="heading-4 mb-20 pt-48">Gender</h4>

  <p class="paragraph-text mb-16">When possible, avoid gendered pronouns. If you can't, then they or their is preferable
    to his or her or he or she.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: Ask your admin to add you.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Yes: Ask your admin if they can add you.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: Ask your admin if he or she can add you.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Hyphens</h4>

  <p class="paragraph-text mb-16">Use hyphens to form a single idea from multiple words. In general, only use hyphens
    when they help to avoid confusion or ambiguity.</p>

  <p class="paragraph-text mb-16">When two or more words function together as a descriptor or adjective (also known as a
    compound modifier) we typically hyphenate those words if they precede the noun they describe, but don't hyphenate if
    they come after the noun. There are exceptions to this rule, such as with the word very or any adverbs ending in
    -ly.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: Fast-moving trucks, ice-cold drinks, dog-friendly hotels. The hotel is dog
        friendly.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: Very-interesting topics, poorly-worded sentences.</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Most prefixes don't require hyphens to be understood. Only use a hyphen if not doing
    so causes confusion or ambiguity. Consult a modern dictionary to be sure.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: Autocorrect, coworker, and preexisting are all fine without a hyphen.
        Recreating in a park, however, is different from re-creating a page. I could resign from my job one day, then
        re-sign my contract the next.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: Avoid creating nonsense words by when using prefixes without hyphens, such as
        nonlife in nonlife-threatening.</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Use hyphens for number ranges with no spaces on either side. For example, see rows 1-4
    in the table.</p>

  <p class="paragraph-text mb-16">There are always exceptions, and some commonly hyphenated words can become closed over
    time (remember e-mail?). Check our Vocabulary for more specific hyphenated word guidance. </p>

  <h4 class="heading-4 mb-20 pt-48">Italics</h4>

  <p class="paragraph-text mb-16">Use italics for emphasis, citations, or defining a term. You can also use it for UI
    elements that might change, like a field name or user input.</p>

  <p class="paragraph-text mb-16">You can also use italics in places where you would normally use bold but the UI
    doesn't support it. For example, in a dialog header or UI message.</p>

  <p class="paragraph-text mb-16">Don't use italics if the item is also a hyperlink.</p>

  <p class="paragraph-text mb-16">See bold for more information about how to format UI elements.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: A JIRA workflow is the set of statuses and transitions that an issue goes
        through during its lifecycle.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Yes: According to the 2008 IT Unplugged report, IT is really unplugged!</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Yes: For example, if you create a metric called Time to resolution, other projects
        can create metrics with that name.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: To learn more, see the 2008 IT Unplugged report</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: In your project, select Settings>Request types</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Lists</h4>

  <p class="paragraph-text mb-16">Use lists to draw the reader's eye and make items easier to scan and follow. Use
    proper punctuation in your items if they are complete sentences. Try to limit lists to six items or less. If you
    need more items, see if you can split the list into multiple lists.</p>

  <h4 class="heading-4 mb-20 pt-48">Bulleted</h4>

  <p class="paragraph-text mb-16">Use bulleted lists for options, or a list where the order of the items doesn't matter.
    Phrase each item in a parallel way. If the bullets complete the introductory sentence, start the fragments with
    lowercase and skip the periods.</p>

  <p class="paragraph-text mb-16"><strong>Yes:</strong></p>

  <p class="paragraph-text mb-16">Due to security concerns, all employees are now required to:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">wear an identification tag in the building</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">identify themselves when answering the phone</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">use their identification tag to enter or leave before 7 AM and after 6 PM</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">alert security if a suspicious package is found</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16"><strong>No:</strong></p>

  <p class="paragraph-text mb-16">Due to security concerns, all employees are now required to follow the regulations
    below:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Wear an identification tag when in the company building

      </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Employees who answer the phone must first identify themselves</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Entering the building before 7 AM and after 6 PM requires that employees use their
        identification tag to enter or leave the building</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">When opening all packages, alert security if the package is suspicious.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Numbered</h4>

  <p class="paragraph-text mb-16">Use numbered lists for tasks, or lists where the order of the items matters. Unlike
    with bulleted lists, always capitalize the first word in each item and end the item with a period.</p>

  <p class="paragraph-text mb-16">You don't need to create a list for tasks that have two or fewer steps.</p>

  <p class="paragraph-text mb-16">To add a new user macro:</p>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Go to Settings > General Configuration > User Macros.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Choose Create a User Macro.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Enter the macro details.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Monospaced text</h4>

  <p class="paragraph-text mb-16">Use monospaced font for names of a file or directory. It is mostly used in
    administrator and developer docs. For example:</p>

  <p class="paragraph-text mb-16">The location of the Home directory is stored in a configuration file called
    confluence-init.properties which is located in the confluence/WEB-INF/classes directory in your Confluence
    Installation directory. </p>

  <h4 class="heading-4 mb-20 pt-48">Numbers</h4>

  <p class="paragraph-text mb-16">Write out numbers one through ten. After ten, you can use 11, 12, 108, and so on.</p>

  <h4 class="heading-4 mb-20 pt-48">One word or two?</h4>

  <p class="paragraph-text mb-16">Can't remember if it's filesystem or file system? Check out our <a
    href="#">Vocabulary</a>. </p>

  <h4 class="heading-4 mb-20 pt-48">Oxford comma</h4>

  <p class="paragraph-text mb-16">Use the Oxford or serial comma to offset the final item in a list.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Yes: We use sentence case in all titles, headings, menu items, and buttons.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">No: We use sentence case in all titles, headings, menu items and buttons.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Periods (full stops)</h4>

  <p class="paragraph-text mb-16">Use only one space after a period. Avoid periods in headers, titles, tooltips, field
    descriptions, and menu names. Use them to complete description text in the product, messages, and notifications.
    Don't use them in a bulleted list unless the list item is a complete sentence.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: Public room</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: Public room.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Possessives</h4>

  <p class="paragraph-text mb-16">Use ’s to show possession, even if the word ends in s.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: James's book</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: a week's time</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: James' book</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Pronouns</h4>

  <p class="paragraph-text mb-16">In most cases, second person is best. It fits Atlassian's casual, conversational tone
    to refer to the reader directly. Exceptions can be made for specific types of writing, such as whitepapers and press
    releases.</p>

  <p class="paragraph-text mb-16">Not sure whether it's My projects or Your projects? It can be fuzzy, so sometimes, we
    aren't either! For best results, avoid using mine, my, or your in UI copy.</p>

  <p class="paragraph-text mb-16">If you need to use mine, my, or your, the rule of thumb is to think of the UI as a
    conversation between the system and the user.</p>

  <p class="paragraph-text mb-16">If the system is presenting information to the user, such as in a dialog box, then
    your is more appropriate, because it's like saying "Here are your things", or "What would you like to do?"</p>

  <p class="paragraph-text mb-16">If the user is performing an action, such as clicking a button or a link, then mine/my
    is more appropriate, because it's like saying "Show me my stuff!"</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: Bitbucket will change your life.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: Your team will love using pull requests in Bitbucket.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: Teams love using pull requests in Bitbucket.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Quotation marks</h4>

  <p class="paragraph-text mb-16">Use double quotes (") for a direct quote. For UI elements, page titles, and other
    objects, use bold text or italics as appropriate.</p>

  <p class="paragraph-text mb-16">Because we write in US English, punctuation goes inside the quotation marks.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: "We have big things planned for the coming year," said Mike and Scott.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: He called quokkas "the cutest animal ever."</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: Add a comment to the <u>"Team processes"</u>page.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: The shark said "Surfers are delicious".</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Style</h4>

  <p class="paragraph-text mb-16">Five great guidelines for clear, concise writing, courtesy of George Orwell:</p>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Don't use a metaphor, simile, or other figures of speech that you commonly
        see. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Don't use a long word if a shorter one will do.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">If you can omit a word, do it.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use active voice.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Don't use foreign phrases, scientific nomenclature, or jargon if there's an
        everyday word you can use instead.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Titles and headings</h4>

  <p class="paragraph-text mb-16">Use sentence case. Don't use bold, italics, or standard punctuation in headings. It's
    ok to use question marks and exclamation points if they fit the criteria for those two marvelous pieces of
    punctuation.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Capitalize the first word of a title or heading (sentence case)</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Capitalize proper nouns and any trademarked names (products, countries, people's
        names, etc...)</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Don't use full stops</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Articles</h4>

  <p class="paragraph-text mb-16">The use of articles (the, a, an) in headings depends on whether the message is
    conversational or action-based microcopy. Avoid articles in buttons and labels.</p>

  <h4 class="heading-4 mb-20 pt-48">Conversational headings and subheadings</h4>

  <p class="paragraph-text mb-16">In more conversational sections of the interface, like Home cards, marketing copy, and
    empty states, use articles. It makes the language more approachable and helps understanding when introducing new,
    complex concepts.</p>

  <h4 class="heading-4 mb-20 pt-48">Documentation</h4>

  <p class="paragraph-text mb-16">Phrase documentation H1s with an action verb. Don't use gerunds or questions.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: Create a page</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: Creating a page; How do I create a page?</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">UI elements</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use sentence case, even if the UI element does not</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use bold to call out the UI element in a step. Don't bold the >.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">If the UI element has an icon, use both the name and the icon.</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Go to <strong>More •••</strong> > <strong>Link issues</strong>.</p>

  <h4 class="heading-4 mb-20 pt-48">US English</h4>

  <p class="paragraph-text mb-16">We write with US English spelling and punctuation, but our Australian roots are still
    part of our personality. Communications directly from native Aussies can use the Queen's English – e.g., colour,
    optimise, theatre.</p>

  <p class="paragraph-text mb-16">For example, Aussie PMs writing JAC comments to customers can use Australian English.
    Developers should code in US English.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Yes</strong>: What kind of cookie would you like with your coffee, friend?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>No</strong>: Which biscuit do ya want with your cuppa, mate?</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">When all else fails</h4>

  <p class="paragraph-text mb-16">We follow the AP Style Guide.</p>
</div>
