<app-page-banner
  [bannerTitle]="'Values and principles'"
  [bannerDescription]="'Values are pur fundamentals beliefs (what we hold true), and principles exist to guide our behavior (how we achieve those values).'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">We use the Atlassian Design System values and principles to align our team around a
    clear set of shared beliefs and goals. They embody our team ethos and will evolve as the design system changes and
    scales over time.</p>

  <h4 class="heading-4 mb-20 pt-48">Foundational</h4>

  <p class="paragraph-text mb-16">We solve the common problems for all, small and large, to provide a solid foundation
    that consumers can confidently build upon. We avoid consistency for the sake of consistency and reject infinite
    flexibility.</p>

  <h5 class="heading-5 mb-20 pt-32">Trusted fundamentals before comprehensive patterns</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">We solve common froundational problems, enabling consumers to focus on their
        product experiences.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We provide opinionated building blocks, which allow consumers to compose more
        comples, bespoke experiences. We don't support unlimited flexibility but offer a robust foundation for consumers
        to build upon.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We ensure quality through research and clear standards (accessiblity,
        responsiveness, reusability) - otherwise, it can't exist in the system. <em>(Build with heart and balance).</em>
      </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We consider scale, starting with enterprice-level; platform needs.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Harmonious</h4>

  <p class="paragraph-text mb-16">Our building blocks work together to create a suite f products that feel familiar,
    cohesive, and part of a family. We strive to gain trust through intent and purpose.</p>

  <h5 class="mb-20 pt-32 heading-5">Meeting system needs before delivering features </h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">We bring in all perspectives to co-create and shape our design language.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We finish what we start, especially before starting something new — a limited, but
        complete, cross-functional experience is better than the sum of many incomplete, single-function solutions.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We are informed by continuous feedback. (Don’t #@!% the customer).</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We don’t stop at shipping — documentation, support, deprecation, and maintenance
        should always be considered for the best consumer experience.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Empowering, for everyone</h4>

  <p class="paragraph-text mb-16">We strive to make our design system work for everyone who relies on it, regardless of
    discipline, skill level, or tenure. By enabling as many people as possible to use the system, we multiply our
    impact.</p>

  <h5 class="heading-5 mb-20 pt-32">Bringing people on the journey before helping for the moment</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">We bring consumers into our process to educate, build trust, and create a sense of
        shared ownership.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We prioritize the best service experience. We take the time to provide consumers
        the right amount of resources, support, and context. (Open company, no bullshit).</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We optimize for self-service through our tools and information. We want consumers
        to independently make decisions with confidence.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">We want consumers to become champions — we inspire them to improve their craft —
        and in turn, we improve ours too.</p>
    </li>
  </ul>
</div>
