<app-page-banner
  [bannerTitle]="'Color Palettes'"
  [bannerDescription]="'Our colors come in a variety of modes such as RGB, CMYK, PMS and file formats for various applications.'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">Both RGB and CMYK palettes are available for Adobe products (.ase). We've also
    included an RGB palette for Sketch (.sketchpalette). Simply install the
    <a href="#">Sketch Palette plugin</a> to use it.</p>

  <p class="paragraph-text mb-16">Confused about what color to use? Become a master of the dark (and light) arts of
    color by using our
    <a href="#">color guidelines</a>.</p>
</div>
