<div class="section-inner-container display-grid" style="grid-template-columns: 250px 1fr;">
  <!--1. components sidebar menu-->

  <div class="sidebar-menu display-flex flex-direction-column pt-40">
    <a [routerLink]="'inclusive-language'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Inclusive language</a>
    <a [routerLink]="'language-and-grammar'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Language and grammar</a>
    <a [routerLink]="'vocabulary'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Vocabulary</a>
    <a [routerLink]="'voice-and-tone-principles'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Voice and tone principles</a>
    <div>
      <a [routerLink]="'writing-guidelines'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Writing guidelines</a>

      <div class="sidebar-menu-inner lvl-2">
        <a [routerLink]="'date-and-time'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Date and time</a>
        <a [routerLink]="'empty-state'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Empty state</a>
        <a [routerLink]="'error-message'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Error message</a>
        <a [routerLink]="'feature-discovery'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Feature discovery</a>
        <a [routerLink]="'info-messages'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Info messages</a>
        <a [routerLink]="'success-message'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Success message</a>
        <a [routerLink]="'warning-message'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Warning message</a>
      </div>
    </div>
    <a [routerLink]="'writing-style'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Writing style</a>
  </div>

  <router-outlet style="display: none;"></router-outlet>
</div>
