<div class="section-inner-container display-grid" style="grid-template-columns: 250px 1fr;">
  <!--1. components sidebar menu-->

  <div class="sidebar-menu display-flex flex-direction-column pt-40">
    <a href="#" class="sidebar-menu-link text-dark-grey">Inclusive language</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Language and grammar</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Vocabulary</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Voice and tone principles</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Writing guidelines</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Writing style</a>
  </div>

  <div class="main-content-wrapper pt-40 pb-40 pl-48 pr-48">
    <!--2. Content section-->
    <div class="display-grid flow-column">
      <div class="display-grid align-items-center flow-column justify-content-between col-2fr-1fr-layout">
        <div class="display-flex flex-direction-column">
          <h3 class="heading-3 display-flex align-items-center mb-20">
            Content
          </h3>
          <p class="content-description text-light-grey mb-20">Our content guidance covers our voice and tone, and the
            mechanics of our grammar and style. We use clear, concise and conversational language to craft the messages
            teams need to know, to get them to where they need to go.</p>
        </div>

        <div class="media-wrapper mb-16">
          <img style="width: initial;"
               src="https://atlassian.design/static/31e012ceb9ee1d04ca0516846ad5d692/content@2x.png" alt="">
        </div>
      </div>
    </div>

    <div class="display-grid col-2-layout">

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M12 9.44l1.76-1.744a2.505 2.505 0 013.52 0 2.451 2.451 0 010 3.488L12 16.417l-5.28-5.232a2.451 2.451 0 010-3.49 2.505 2.505 0 013.52 0v.001L12 9.44zm-6.684 3.143l.003.004 6.322 6.266a.508.508 0 00.718 0l6.322-6.266.003-.004.004-.003a4.412 4.412 0 000-6.28 4.509 4.509 0 00-6.336 0l-.003.004-.004.003L12 6.65l-.345-.342-.004-.003-.003-.003a4.509 4.509 0 00-6.336 0 4.412 4.412 0 000 6.279l.004.003z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Inclusive language
        </h5>
        <p class="paragraph-text">Inclusive language is free from words, phrases, or tones that reflect prejudiced,
          stereotyped or discriminatory views of particular people. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M15.698 17C16.97 17 18 15.982 18 14.727c0-1.255-1.03-2.273-2.302-2.273-2.301 0-.767-4.393 2.302-4.393V7c-5.478 0-7.624 10-2.302 10zm-4.33-2.273c0-1.255-1.031-2.273-2.301-2.273-2.302 0-.768-4.393 2.301-4.393V7C5.891 7 3.744 17 9.067 17c1.27 0 2.301-1.018 2.301-2.273z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Language and grammar
        </h5>
        <p class="paragraph-text">Use conventions to make your writing clear, consistent, and localizable. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M4 5h16c1.105 0 2 1.045 2 2.333v9.334C22 17.955 21.105 19 20 19H4c-1.105 0-2-1.045-2-2.333V7.333C2 6.045 2.895 5 4 5zm3.465 9.887h1.278L6.786 9.251H5.399l-1.957 5.636h1.183l.434-1.343h1.98l.426 1.343zM6.02 10.423h.07l.7 2.21H5.313l.707-2.21zm6.215 4.464c1.203 0 1.95-.625 1.95-1.613 0-.726-.544-1.289-1.29-1.344v-.07a1.219 1.219 0 001.02-1.203c0-.871-.653-1.406-1.747-1.406H9.704v5.636h2.53zm-1.352-4.734h.985c.562 0 .886.27.886.719 0 .453-.347.715-.984.715h-.887v-1.434zm0 3.832v-1.601h1.024c.695 0 1.074.273 1.074.789 0 .527-.367.812-1.047.812h-1.05zm6.762 1.047c1.36 0 2.352-.84 2.45-2.059h-1.15c-.112.621-.62 1.02-1.296 1.02-.89 0-1.441-.738-1.441-1.926 0-1.187.55-1.922 1.437-1.922.672 0 1.184.426 1.297 1.074h1.148c-.086-1.226-1.109-2.113-2.445-2.113-1.637 0-2.645 1.13-2.645 2.961 0 1.836 1.012 2.965 2.645 2.965z"
                fill="currentColor"></path>
            </svg>
          </div>
          Vocabulary
        </h5>
        <p class="paragraph-text">A list of words that are defined in terms of how we use them at Atlassian. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M19 6.673V15.2a2.8 2.8 0 01-2.8 2.8h-.4a2.8 2.8 0 01-2.8-2.8v-.4a2.8 2.8 0 012.8-2.8h.4c.278 0 .547.04.8.116V8.242l-6 .621V16.2A2.8 2.8 0 018.2 19h-.4A2.8 2.8 0 015 16.2v-.4A2.8 2.8 0 017.8 13h.4c.278 0 .547.04.8.116V6.654c0-.38.31-.721.72-.764l8.56-.886c.398-.041.72.235.72.615v1.054z"
                fill="currentColor"></path>
            </svg>
          </div>
          Voice and tone principles
        </h5>
        <p class="paragraph-text">The principles behind using the Atlassian voice and tone guidelines.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M4.02 19.23a1 1 0 001.18 1.18l3.81-.78-4.21-4.21-.78 3.81zM19.844 6.707l-2.12-2.122A1.997 1.997 0 0016.308 4c-.512 0-1.024.195-1.415.585l-9.757 9.758 4.95 4.95 9.757-9.758a2 2 0 000-2.828z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Writing guidelines
        </h5>
        <p class="paragraph-text">Use these guidelines as a source of truth, for best practices and patterns when
          writing messages.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M4.02 19.23a1 1 0 001.18 1.18l3.81-.78-4.21-4.21-.78 3.81zm5.921-2.62l-2.12-2.12L16.306 6h.002l2.121 2.121-8.489 8.49zm9.903-9.903l-2.12-2.122A1.997 1.997 0 0016.308 4c-.512 0-1.024.195-1.415.585l-9.757 9.758 4.95 4.95 9.757-9.758a2 2 0 000-2.828z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Writing style
        </h5>
        <p class="paragraph-text">The Atlassian writing style reflects our core company values, company mission, design
          principles, and our voice and tone.</p>
      </div>
    </div>
  </div>
</div>
