<app-page-banner
  [bannerTitle]="'Voice and tone principles'"
  [bannerDescription]="'The principles behind using the Atlassian voice and tone guidelines.'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">We use the Atlassian voice across all of our properties and products. Our voice is
    based on the <a href="#">Atlassian brand personality traits</a> of <strong>bold, optimistic, and practical (with a
      wink)</strong> and is always the
    same - providing a consistent, friendly, helpful guide to our users.</p>

  <p class="paragraph-text mb-16">Consistency of <strong>voice</strong> speaks to the authenticity of our products. We
    want to build relationships, and how we communicate is a key part of that. </p>

  <p class="paragraph-text mb-16">There is one caveat here. There are times when you need to speak to different subsets
    of users, for instance among different products, and your <strong>tone</strong> might not be quite the same. That's
    okay! We've
    provided enough guidance to help adjust our tone to accommodate for:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Where people are at in their journey</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Their emotional state</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">The product or property you are writing for</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">But what is the difference between voice and tone?</p>

  <h4 class="heading-4 mb-20 pt-48">Voice is our personality, tone is our mood</h4>

  <p class="paragraph-text mb-16">Writing as an Atlassian is different from writing at pretty much any other company
    because we have such a unique public voice. When writing in this voice, we're part of the team. We're that friend or
    colleague that is always up on new trends and wants to be helpful and share new wisdom with everyone in a relatable
    way. We know when it's time to be serious and direct, and when it's time to be a little loose.</p>

  <h4 class="heading-4 mb-20 pt-48">Who these principles are for</h4>

  <p class="paragraph-text mb-16">Any Atlassian who works with customer-facing communications should follow the voice
    and tone principles: product managers, content designers, developers, designers, marketers, advocates, support
    engineers, blog contributors... pretty much everyone.</p>

  <p class="paragraph-text mb-16">We stick to our voice and tone across all our channels and properties, from blogs,
    microsites, video, emails, tweets, and other external communications to in-product user interfaces, labels, error
    messages, menus, and more.</p>

  <h4 class="heading-4 mb-20 pt-48">When to use the principles</h4>

  <p class="paragraph-text mb-16">We speak our minds by offering solutions that will be useful to people in the "now".
    To help them do the best work of their lives, we try to inspire and push teams to try new things by simplifying
    complex problems into easy to understand pieces. With a familiar tone, clear language, and a solid knowledge of our
    audience, we craft messages that get teams moving in the right direction, then we get out of their way, so they can
    get to work.</p>

  <h4 class="heading-4 mb-20 pt-48">Voice and tone principles</h4>

  <h5 class="heading-5 mb-20 pt-32">Inform to build trust</h5>

  <p class="paragraph-text mb-16"><em>This principle is about the "what".</em></p>

  <p class="paragraph-text mb-16"><strong>Inform</strong> by being <strong>open</strong> and <strong>clear</strong> on
    what people are experiencing in our products. It's about telling them what they need to know at that moment and
    nothing more. Be cognizant of when a user is new or confused, and tone down the boldness by being more perspective.
    Let people know where they are in their journey and what they are looking at in the product.</p>

  <p class="paragraph-text mb-16"><strong>Write as if</strong> you are a wizened member of the team. Show up at the
    right time and be open, humble, and warm - offer direction for the most appropriate next steps and get out of the
    way.</p>

  <p class="paragraph-text mb-16">When we need to be less bold</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/1PYgSXvKu6yzLo7qzTq84F/c1c9c06067a19474b537663798bb28b4/inform-build-trust.png"
      alt="">
  </div>

  <p class="paragraph-text mb-16">Person is feeling</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">apprehension, confusion, annoyance, fear, loathing, anger</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16"><em>Eg: new users, evaluators, or when introcusing a new concept, feature, ot
    product</em></p>

  <h5 class="heading-5 mb-20 pt-32">Some places we use this principle</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">n product we use this principle in <a href="#">Flags</a>, <a href="#">Error
        messages</a>, and
        <a href="#">First impressions</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use when we're trying to be informative and to build trust. </p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Related design principles</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Drive momentum from end-to-end</a> and <a href="#">Build trust in every
        interaction</a></p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Empower to inspire action</h5>

  <p class="paragraph-text mb-16"><strong><em>Educate</em></strong> <em>where we think people need it most. This
    principle is about explaining the "why".</em></p>

  <p class="paragraph-text mb-16">Offer opportunities to learn at pivotal times to empower people to move in the right
    direction. What is that direction? We have an opinion on that and are bold enough to give it, humbly. Offer best
    practices and recommendations for next steps while suggesting ways to improve and make decisions.</p>

  <p class="paragraph-text mb-16">We want people to know Atlassian is there for support along with fellow community
    members to help people make decisions.</p>

  <p class="paragraph-text mb-16"><strong>Write as if</strong> you are educating. You are a techer with empathy and
    understanding of what it's like to be in the weeds. You expect your audience to have a basic understanding.</p>

  <h5 class="heading-5 mb-20 pt-32">When we want to be more bold</h5>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/1fJGBOr9hgcWuSsoFRXRdW/118458642667ca4205812c8ac923c683/empower-inspire-action.png"
      alt="">
  </div>

  <p class="paragraph-text mb-16">Person is feeling</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">confident, interested, trust, anticipation</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Related design principles</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Guide mastery for greater value</a></p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Some places we use this principle</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">In product we use this principle in <a href="#">First impressions</a>, <a
        href="#">Benefits modal</a>, and <a href="#">Modal dialogs</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">When something requires an action from the user</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">When there is an educational opportunity</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">When there is a social opportunity - let them known best practices ir how we do
        it!</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Encourage people along the path</h5>

  <p class="paragraph-text mb-16"><em>Inspire initial optimism by providing support in the right place. Be consistent
    and dependable.</em></p>

  <p class="paragraph-text mb-16">Offer waypoints, help and support if people are feeling confused or frustrated at a
    point in their journey. This principle is about being human, giving guidance, support, and encouragement along the
    way. Guide people by revealing information gracefully, for example:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">In product we use this principle in <a href="#">First impressions</a>, <a
        href="#">Benefits modal</a>, and <a href="#">Modal dialogs</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">"you are on the right path"</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">"you are not alone"</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">reminders about team building and the chaos of projects</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16"><strong>Write in an</strong> upbeat, friendly way. Acknowledge the opportunities in
    the here-and-now and walk through it with them.</p>

  <h5 class="heading-5 mb-20 pt-32">When we need to be less optimistic</h5>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/9Xpk0PbOYV6ouVxYojJqG/585e77c8d5984f9253054b0c0b08b4f4/encourage-people.png"
      alt="">
  </div>

  <p class="paragraph-text mb-16">Person is feeling</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">In product we use this principle in <a href="#">First impressions</a>, <a
        href="#">Benefits modal</a>, and <a href="#">Modal dialogs</a>.</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Eg: New to Atlassian, <em>evaluators, or when introducing a new concept, feature, or
    product</em></p>

  <h5 class="heading-5 mb-20 pt-32">Design principles</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Guide mastery for greater value</a></p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Some places we use this principle</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">In product we use this principle in <a href="#">Information messages</a>, <a
        href="#">Error messages</a>, and <a href="#">Section messages</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">When something requires an action from the user</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Motivate by showing possibilities</h5>

  <p class="paragraph-text mb-16"><em>Provide incentive and excitement for continued growth. Consider why someone would
    want to do this. </em></p>

  <p class="paragraph-text mb-16">Show the possibilities of what can be accomplished by giving examples of how other
    people accomplish the same task, or by presenting the ideal state. Describe the end result, giving expert testimony,
    or offer opportunities for advanced knowledge. </p>

  <p class="paragraph-text mb-16"><strong>Write like a guru</strong>. Focus more on the solution than on the problem.
    Show people the possible benefits.</p>

  <p class="paragraph-text mb-16">When we want to be more optimistic</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/4ldHA6bzby4JyWDWaMEVps/22eb874d44c4e300bb5f319665beddd2/motivate-show-possibilities.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Person is feeling</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">ambitious, inspired, curious, admiration</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Eg. <em>power users, admins, everyday users</em></p>

  <h5 class="heading-5 mb-20 pt-32">Some places we use this principle</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">In product we use this principle in <a href="#">First impressions</a>, <a
        href="#">Spotlights</a>, and <a href="#">Modal dialogs</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Guidance mastery for greater value</a></p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Satisfy by meeting expectations</h5>

  <p class="paragraph-text mb-16"><em>Give people what they need.</em></p>

  <p class="paragraph-text mb-16">Provide quick and thorough answers, guidance, actions, and instructions. We aren’t
    trying to lead, inspire, motivate, delight, or encourage. Simply tell people what they need to know and get out of
    the way. All of our content should be practical at a minimum.</p>

  <p class="paragraph-text mb-16"><strong>Write as if</strong> you are explaining to your friend how to hook up a
    flat-screen tv. </p>

  <h5 class="heading-5 mb-20 pt-32">When we need to be practical</h5>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/4atvQqORJ2g70XsrKPseCT/819acf927fdee52eb6c414d2cfb7e1d4/satisfy_by_meeting_expectations.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Person is feeling</h5>

  <p class="paragraph-text mb-16">All of the emotions. </p>

  <h5 class="heading-5 mb-20 pt-32">Some places we use this principle</h5>

  <p class="paragraph-text mb-16">In truth we aim to be practical wherever we can. In product, we are always cognizant
    of being practical in <a href="#">warning messages</a>, <a href="#">information messages</a>, and <a href="#">error
      messages</a>. </p>

  <h5 class="heading-5 mb-20 pt-32">Related design principles</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Build trust in every interaction</a>, <a href="#">Connect people to
        collaborate bettwe</a>,
        <a href="#">Match purpose and feel familiar</a></p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Delight with unexpectedly pleasing experiences</h4>

  <p class="paragraph-text mb-16"><em>“Wink” where appropriate.</em></p>

  <p class="paragraph-text mb-16">We deliver appropriate delight - celebrating success or progress once we’ve built
    trust. We don’t overdo it. Timing and repetition are critical. Pay particular attention to people’s state of mind.
    These are low commitment experiences, we give flowers not puppies. </p>

  <p class="paragraph-text mb-16"><strong>Write to convey</strong> excitement. You are giving a pat on the back for a
    job well done.</p>

  <h5 class="heading-5 mb-20 pt-32">When we can share a little delight</h5>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/2V0NKeQen9U23EP46ncJqL/a3defdd95679d7da0616abce700ed1dc/delight-pleasing-experiences.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Person is feeling</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">successful, oy, pride, relief</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Eg: <em>evaluators, power users, during social interactions</em></p>

  <h5 class="heading-5 mb-20 pt-32">Some places we use this principle</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">In product, we use it in <a href="#">Success messages</a>, and <a href="#">Modal
        dialogs</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8">During social interactions and while introducing new experiences</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Related design principles</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Drive momentum from end-to-end</a></p>
    </li>
  </ul>
</div>
