<!--1. header navigation-->
<header class="header">
  <div class="section-inner-container">
    <a routerLink="home" class="navigation-link">Home</a>
    <a href="#" class="navigation-link">Brand</a>
    <a href="#" class="navigation-link">Foundations</a>
    <a href="#" class="navigation-link">Content</a>
    <a routerLink="components" class="navigation-link">Components</a>
    <a href="#" class="navigation-link">Patterns</a>
    <a href="#" class="navigation-link">Resources</a>
  </div>
</header>
