<!--1. header navigation-->
<header class="header">
  <div class="section-inner-container">
    <a routerLink="home" class="navigation-link">Home</a>
    <a routerLink="brand" class="navigation-link">Brand</a>
    <a routerLink="foundations" class="navigation-link">Foundations</a>
    <a routerLink="content" class="navigation-link">Content</a>
    <a routerLink="components" class="navigation-link">Components</a>
    <a routerLink="patterns" class="navigation-link">Patterns</a>
    <a routerLink="resources" class="navigation-link">Resources</a>
  </div>
</header>
