<app-page-banner
  [bannerTitle]="'Checkbox'"
  [bannerDescription]="'A checkbox is an input control that allows a user to select one or more options from a number of choices.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Primarily for use in forms, checkboxes are used to collect input from users, Users can
    select a number of options ranging from zero to multiple options.</p>

  <p class="paragraph-text mb-16">Use checkboxes when:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">users have to select one or more options from a list of related items</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">an explicit action is required to apply settings</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Anatomy</h4>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/e4578dd39bb146bf8c3149605d80246a/anatomy-checkbox.png" alt="">
  </div>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Checkbox</strong>: The selection control.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Checkbox label</strong>: Text label associated with the checkbox.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Content guidelines</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Keep checkbox labels short and descriptive.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Start all checkbox labels with a capital letter.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Don't include punctuation after checkbox labels.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Server</h4>

  <p class="paragraph-text mb-16">Consult <a href="#">AUI</a> for implementation details.</p>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">To display a list of options where people can only make a single selection, use <a
        href="#">radio buttons</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">For a more compact way of displaying options, where people can only make a single
        selection, use a
        <a href="#">dropdown menu</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">To allow people to turn an option on or off, use a <a href="#">toggle</a>.</p>
    </li>
  </ul>
</div>
