<section class="article-banner">
  <div class="container">
    <h3 class="banner-heading">About</h3>
    <div class="banner-meta">
      <span><a href="#">Home</a> <i class="fa fa-circle"></i></span>
      <span><a href="#">About</a></span>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="heading-h2">What is UXMisfit.com?</h2>
  <p class="paragraph-content">UX Misfit is dedicated to everyone who wants to improve their skills, inspire themselves with stories presented from a unique perspective and get time-saving resources that boost design workflow.</p>
  <p class="paragraph-content">To paraphrase one of the most famous marketing campaigns this is the place for “The Crazy Ones”, the ones who would like to push the human race forward. I would like to help you with this task.</p>
  <p class="paragraph-content">If you seek for topics like:</p>
  <ul>
    <li><p class="paragraph-content">How to use design tools?</p></li>
    <li><p class="paragraph-content">How to boost a career in UX?</p></li>
    <li><p class="paragraph-content">What UX/UI design tools should I use?</p></li>
    <li><p class="paragraph-content">How to learn to use the Sketch app better?</p></li>
    <li><p class="paragraph-content">What are UX trends?</p></li>
  </ul>
  <p class="paragraph-content">Then UX Misfit is the right place for you. <br>
    To always be up to date with all content, feel free to subscribe to the newsletter.</p>

  <h2 class="heading-h2">The Story Behind UX Misfit</h2>
  <p class="paragraph-content">“Here is to the crazy ones…” I am sure you know this famous phrase from the legendary Apple ad. It has a profound message inside. It was one of inspiration to start doing something that will help others make this world a better place, by creating delightful and useful things.</p>
  <p class="paragraph-content">But a single person cannot do this alone… It would be hard even for a company. It is the whole army of people needed to do that.</p>
  <p class="paragraph-content">And here is the idea…</p>
  <ul>
    <li><p class="paragraph-content">Create a digital place to share UX stories presented from a different perspective.</p></li>
    <li><p class="paragraph-content">Inspire and open designers mind for fresh ideas.</p></li>
    <li><p class="paragraph-content">Save designers time with tools and resources, so they will be able to focus on what’s important.</p></li>
  </ul>
  <p class="paragraph-content">I believe that this saved hours with a pinch of inspiration may lead you to remarkable results – improving someone’s life by creating a great product, service, or something different.</p>
  <p class="paragraph-content">This is how I came up with creating UX Misfit blog & design resources.</p>

  <h2 class="heading-h2">Who am I?</h2>
  <p class="paragraph-content">I believe that UX Misfit should not be about me, but about things I do to help designers, so they can do better work. In the end, only that matters. But if you really would like to know me more here it is:</p>
  <p class="paragraph-content">My name is Przemyslaw Baraniak, but I am better known as Thalion on the internet.</p>
  <p class="paragraph-content">My professional career started as a developer and freelance designer. This crossroads of technology and liberal arts lead me to the UX Design Discipline and continuously define the way I see digital solutions.</p>
  <p class="paragraph-content">I am in the mobile industry from its beginning when the iPhone revolutionized the way we interact with our devices. With Finanteq, I help banks and fin techs to improve their designs.</p>
  <p class="paragraph-content">Every day, I try to challenge the best design tools like Sketch to figure out how to create or improve design resources that may boost design workflow and save time.</p>
  <p class="paragraph-content">I hope you found UX Misfit useful!</p>
  <p class="paragraph-content">I hope you found UX Misfit Best, <br>
    Thalion</p>
</section>
