<p>That's the importance of contrast. Being able to read the page. But it goes further than just your average pair of
  eyes: what about users who face little to no vision? What about the users who view color differently, or those who
  view no color?</p>

<p>There are many color contrast tools that you can use to check if you want to come up with good contrast pairings, and
  there are also plugins you can use for your respective design tools or even your browsers for testing to both check if
  the contrast is high enough or view in other color modes. The higher the contrast value is on the left, the better
  your contrast on the site.</p>

<p>It's important to remember that different font sizes, weights and even icons and other elements all have different
  base contrast ratios to meet. These even differ between compliance levels: A, AA, and AAA all have different ratios,
  with A being the strictest, while AAA is the latest.</p>

<p>Color contrast guidelines are most important for elements with which the user will interact with. This means any
  buttons, links, headers, body copy, and forms should all allow these guidelines for all of their states to ensure that
  your users can actually complete actions on your site.</p>

<app-contrast-tips></app-contrast-tips>
