// Article main content styles.
.heading-h1,
.heading-h2 {
  font-family: Montserrat, Open Sans;
  font-weight: 700;
  margin: 81px 0 24px;
}

.heading-h1 {
  font-size: 32px;
}

.heading-h2 {
  font-size: 27px;
}

.paragraph-content {
  font-family: Lato, sans-serif;
  color: #4f6677;
  font-size: 20px;
  line-height: 1.7;
  margin: 0 0 24px;
}

.content-image {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.content-link {
  color: #0079f2;
  text-decoration: none;
}

.article-layout {
  display: grid;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 250px;
    grid-column-gap: 45px;
    padding-top: 120px;
  }
}

.article-preview-box {
  border: 1px solid #dddddd;
  margin: 60px 0;
}

.article-preview-box-entry-content-wrapper {
  padding: 45px;
}
