// Tags styles.
.tag {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 3px 9px;
  margin: 3px;
  border: 1px solid #d9d9d9;
  text-decoration: none;
  color: #232323;
}

.tools-tag {
  margin: 4px;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: #151516;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.tags-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
}
