<p>In design, headings are something you should become incredibly comfortable with. They help to communicate different
  sections on the page, in terms of their relation to the previous sections on the page. They can also help to give your
  brand personality, depending on the font family and size that you're choosing to use, as well as the text itself.</p>

<p>Hierarchy can be communicated by one or many of the following:</p>

<ul>
  <li>
    Font size and weight

    <p>Typically the sections of information lose their importance the lower into the hierarchy you go.</p>

    <p>Modify the font sizes for mobile. Because you're dealing with a much smaller screen, and sometimes a screen with
      a different zoom level, larger font sizes can often appear oversized and obstructive.</p>
  </li>

  <li>
    Font color

    <p>There are some sites which use a highlight behind a header to give it a burst of color and some personality, as
      well as other decoration.</p>

    <p>Font color for headers can also help to bring a nice defferentiating factor between blocks of text, and draw a
      user's eye to the header after scrolling through a section.</p>
  </li>

  <li>Background color or highlight color</li>

  <li>Text decoration</li>

  <li>
    Spacing and dividers

    <p>The dividers are absolutely important, especially in websites which may have long sections of text in between
      sections, with potentially harder to distinguish headers. Understanding where a section ends can help a user
      scroll better and can help break up these large sections of text that they don't feel like they've been scrolling
      for hours.</p>
  </li>
</ul>

<app-hierarchy-tips></app-hierarchy-tips>
