<app-page-banner
  [bannerTitle]="'Breadcrumbs'"
  [bannerDescription]="'Breadcrumbs are a navigation system used to show a user\'s location in a site or app.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Breadscrumbs are an alternative way to help users orient themselves. They're a useful
    addition to, but shouldn't replace, the main navigation on a page.</p>

  <p class="paragraph-text mb-16">Use breadcrumbs for nested navigation, with each item acting as a link. They show the
    hierarchical progress from the highest item to the lowest, one step at a time. This typically starts with the
    product landing page and goes to the current page or content.</p>

  <h4 class="heading-4 mb-20 pt-48">Anatomy</h4>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/9f21663d26bd0780e15fcec7902ce3d7/breadcrumbs-anatomy.png" alt="">
  </div>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Item name</strong>: The section or page within the product, usually a link.
      </p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Separator</strong>: Provides a visual distinction between individual
        entities using the same font as the rest of the breadcrumbs.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Graphical elements</strong>: Some entities may have an icon or avatar
        before or after the entity name that is part of the corresponding page title.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Best practices</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use breadcrumbs when the user is most likely to have landed on the page from an
        external source.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use for large websites and complex products that have hierarchically arranged
        pages, so that users who land on the page can quickly know where they are.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">In products, breadcrumbs can adapt on the state of navigation by being toggled on,
        off, or auto-collapsing.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Make sure breadcrumbs don't visually overwhelm the page.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Place breadcrumbs at the top left corner of the screen, above the page title.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">In product, avoid using the topmost level of the hierarchy unless the navigation
        sidebar is collapsed.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <p class="paragraph-text mb-16">Make sure your breadcrumb items reflect the page or product section titles exactly for
    screen readers.</p>

  <h4 class="heading-4 mb-20 pt-48">Server</h4>

  <p class="paragraph-text mb-16">Consult <a href="#">AUI</a> for implementation details.</p>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use a <a href="#">button</a> to indicate an event, action or next step.</p>
    </li>
  </ul>
</div>
