<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <h2 class="section-title">Recommended reading</h2>
    <p>Learn more about the industry best practices, keep up with recent Justinmind updates and hear all about the latest
      trends of UX design.</p>

    <ul class="recommended-links-grid">
      <li class="col">
        <div class="col-caption">
          <img src="../../../assets/justinmind-assets/images/amazing-content-icon.png" alt="Amazing Content Icon"
               [ngStyle]="{'width.px': 50, 'height.px': 50}">
          <h4>Amazing Content</h4>
        </div>

        <app-jsm-link-button [label]="'All you need to know about Lean UX'" [underlined]="'underlined'"></app-jsm-link-button>

        <app-jsm-link-button [label]="'Complete guide to Enterprise UX'" [underlined]="'underlined'"></app-jsm-link-button>

        <app-jsm-link-button [label]="'Complete guide to Enterprise UX'" [underlined]="'underlined'"></app-jsm-link-button>

        <app-jsm-link-button [label]="'Guide to User personas'" [underlined]="'underlined'"></app-jsm-link-button>
      </li>

      <li class="col">
        <div class="col-caption">
          <img src="../../../assets/justinmind-assets/images/popular-articles-icon.png" alt="Popular Articles Icon"
               [ngStyle]="{'width.px': 50, 'height.px': 50}">
          <h4>Popular articles</h4>
        </div>

        <app-jsm-link-button [label]="'15 must-see user persona templates'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Inspiring mobile app mockup examples'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'10 tools for creating user flows'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Complete guide to functional specifications'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Best free and paid SVG editors'" [underlined]="'underlined'"></app-jsm-link-button>
      </li>

      <li class="col">
        <div class="col-caption">
          <img src="../../../assets/justinmind-assets/images/news-icon.png" alt="News Icon"
               [ngStyle]="{'width.px': 50, 'height.px': 50}">
          <h4>News</h4>
        </div>

        <app-jsm-link-button [label]="'Design and prototyping come together'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Design and prototyping come together'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Photoshop plugin: turn your assets into hi-fi prototypes'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Android Material Design 2 UI kit'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'Salesforce prototyping with the new Lightning design system UI kit'" [underlined]="'underlined'"></app-jsm-link-button>
        <app-jsm-link-button [label]="'US Web Design Standards UI kit: for accessible government websites'" [underlined]="'underlined'"></app-jsm-link-button>
      </li>
    </ul>
  </div>
</section>
