<h2>Step Three: Prototype</h2>

<p>Once you had your goals and knew what needed to do, start creating the components.</p>

<ul>
  <li>
    <h3>Get to know the tool</h3>

    <ol>
      <li>
        <h4>Constraints</h4>

        <p>Constraints let you "stick" an element to a direction upon resizing.</p>
      </li>

      <li>
        <h4>Auto Layout</h4>

        <p>Use the auto layout for things you know would require specific sizing and elements that had lists.</p>
      </li>
    </ol>
  </li>

  <li>
    <h3>Naming Convention</h3>

    <p>The next step is to build out the information architecture. To make the design system easy to navigate, its
      structure had to be easy to understand.</p>
  </li>

  <li>
    <h3>Colors</h3>

    <p>The final step for this version is to sync up the colors. This is a significant pain point for the engineer. The
      naming of the color did not match what was in code.</p>

    <p>For this, pull all the names from the code and spent time matching the colors and renaming them. This will make
      sure, that when the engineer code the design, he can copy the variable name and not have to look up the matching.</p>
  </li>
</ul>
