<app-page-banner
  [bannerTitle]="'Inclusive language'"
  [bannerDescription]="'Inclusive language is free from words, phrases, or tones that reflect prejudiced, stereotyped or discriminatory views of particular people.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Our stance on inclusive language</h4>

  <p class="paragraph-text mb-16">The words we choose are the building blocks and the glue that hold our diverse teams
    together. Language not only has the power to build bridges and increase understanding, but also capability to
    alienate and dismiss.</p>

  <p class="paragraph-text mb-16">At Atlassian, our diverse teams build tools for an equally diverse audience, and we
    strive to use inclusive langiage in all we do. We know that, as a society, we are always evolving and the language
    we use must also evolve. This influences how we build things and how we communicate - both internally and
    externally. We encourage ourselves to seek first to understand the impact of our words, intentional or
    unintentional, and we diligently reexamine our word choices as we learn and grow.</p>

  <h4 class="heading-4 mb-20 pt-48">What is inclusive language?</h4>

  <p class="paragraph-text mb-16">Inclusive language is language that is free from words, phrases, or tones that reflect
    prejudiced, stereotyped, or discriminatory views of particular people or groups. Even when a remark or action based
    on a stereotype is not based on a conscious prejudice, it can still be hurtful and cause harm or damage to the
    person on the receiving end.</p>

  <p class="paragraph-text mb-16">When we think about inclusivity, we champion “people-first language”. This means that
    we keep the individual as the most important part of the sentiment and don’t concentrate on characteristics like
    gender, sexual orientation, religion, racial group, or ability unless it's relevant to the discussion.</p>

  <p class="paragraph-text mb-16">Some of this is new or can be confusing, so <strong>if you aren’t sure, ask</strong>.
    Strive to include
    language that reflects peoples’ choice and style in how they talk about themselves.</p>

  <h4 class="heading-4 mb-20 pt-48">Categories</h4>

  <p class="paragraph-text mb-16">This is a checklist/set of questions and then examples.</p>

  <p class="paragraph-text mb-16">In using inclusive language, it is useful to keep the following generic questions in
    mind:</p>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Do you need to refer to personal characteristics such as sex, religion, racial
        group, disability, or age at all?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Are the references to group characteristics couched in inclusive terms?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Do the references to people reflect the diversity of that audience?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Is your use of jargon and acronyms (J&A’s) excluding people who may not have
        specialized knowledge of a particular subject?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Inclusive language does not mean cumbersome, dull, or vague language; it simply
        means language that has been carefully constructed in ways that treat all people with respect and
        impartiality.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Culture and religion</h4>

  <p class="paragraph-text mb-16">We are a diverse company with individuals from all over the world, delivering software
    for teams all over the world. Even though we may be a multicultural company, the cultural beliefs, values, and
    traditions that are centered and dominant in society’s structures and practices can find themselves creeping into
    our lives. Sometimes we use language that unintentionally excludes or diminishes. </p>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Don’t use terms or phrases that have religious origins. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Don’t use expressions that ignore the history and achievements of any culture. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid using language where the cultural beliefs, values, and traditions are
        centered on the dominant culture or that perpetuates a ‘them and us’ mentality. </p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'Underrepresented groups'"
    [dontText]="'Minorities'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: When referencing as a group of “others” It implies that a
    group is a lesser part of the whole and gives the power to the “majority”. </p>

  <app-do-dont
    [doText]="'Off-limits'"
    [dontText]="'Sacred cow'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Culturally insensitive references to sacred practices,
    rituals, or beliefs.</p>

  <app-do-dont
    [doText]="'What animal do you identify with the most? or What animal is your kindred spirit?'"
    [dontText]="'Spriit animal'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Culturally insensitive references to sacred practices,
    rituals, or beliefs.</p>

  <app-do-dont
    [doText]="'First name or full name depending on the situation'"
    [dontText]="'Christian name'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: It’s exclusive and biased. </p>

  <app-do-dont
    [doText]="'The public'"
    [dontText]="'Citizens'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: When referencing all people in a country. This excludes
    people who are living in a country, who are not citizens, such as refugees and visa holders. </p>

  <h4 class="heading-4 mb-20 pt-48">Race and ethnicity</h4>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Avoid emphasis on differences between any groups of people</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid stereotyping or positive/negative generalizations</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid promotion of ethnic or racial invisibility </p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'Using a color name like beige or cream.'"
    [dontText]="'flesh-colored or neutral'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: When referencing beige or lighter colors. It implies that
    beige is the only flesh color.</p>

  <app-do-dont
    [doText]="'Use more direct language. For example allowlist and blocklist instead of whitelist and blacklist.'"
    [dontText]="'Black or white'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: When referring to positive or negative or good or bad
    things. It implies their one is better than the other. </p>

  <app-do-dont
    [doText]="'Its not that clear'"
    [dontText]="'Its not that black and white'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: It reinforces the concept that black and white are opposed
    and one is good and the other evil.</p>

  <app-do-dont
    [doText]="'primary/replica or primary/client'"
    [dontText]="'master'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: References slavery.</p>

  <app-do-dont
    [doText]="'legacy'"
    [dontText]="'The term grandfather or grandfathered'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: The term “grandfather clause” originated in the American
    South in the 1890s as a way to defy the 15th Amendment and prevent black Americans from voting. It’s also kinda
    ageist.</p>

  <app-do-dont
    [doText]="'Tell it like it is'"
    [dontText]="'Call s spade a spade'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Disparaging of a particular race or ethnicity. </p>

  <app-do-dont
    [doText]="'Circus or goat rodeo (also potentially insensitive to goats)'"
    [dontText]="'Chinese firedrill'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Disparaging of a particular race or ethnicity. </p>

  <app-do-dont
    [doText]="'a game of telephone or a game of whispers'"
    [dontText]="'Chinese whispers'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Disparaging of a particular race or ethnicity. </p>

  <app-do-dont
    [doText]="'Cheat'"
    [dontText]="'Gyp'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Disparaging of a particular race or ethnicity. </p>

  <app-do-dont
    [doText]="'Get our act together'"
    [dontText]="'Circle the wagons'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Insensitive to Native Americans. </p>

  <app-do-dont
    [doText]="'Keep the lights on'"
    [dontText]="'Hold down the fort'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Insensitive to Native Americans. </p>

  <app-do-dont
    [doText]="'huddle, meet up, or meeting of the minds (when used as a noun)'"
    [dontText]="'Pow-wow'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Insensitive to Native Americans. </p>

  <app-do-dont
    [doText]="'Off the deep end'"
    [dontText]="'Off the reservation'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Insensitive to Native Americans. </p>

  <h4 class="heading-4 mb-20 pt-48">Ableism</h4>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Only mention disabilities when it’s relevant. If you’ve designed a feature
        specifically for people who are blind, great, but avoid just throwing it into your text when it’s not
        relevant.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Focus on the person rather than a disability.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid suggesting victimhood.</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'A person who is deaf'"
    [dontText]="'A deaf person'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Describing an attribute and not the person. Please note
    that this isn't
    universal. Some communities embrace different practices. See: <a href="https://deafaustralia.org.au/"
                                                                     target="_blank">https://deafaustralia.org.au/</a>
  </p>

  <app-do-dont
    [doText]="'has or ask why you are referencing the condition at all'"
    [dontText]="'affected by, suffers from'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Frames the person as a victim and helpless.</p>

  <app-do-dont
    [doText]="'Just dont use it.'"
    [dontText]="'special'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Term has been used historically to segregate people with
    disabilities. </p>

  <app-do-dont
    [doText]="'Wild, hectic, intense, out of hand.'"
    [dontText]="'Crazy, ICD, ADD, Spaz, Lame, bipolar as emphasis, or to exaggerate.'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Some of these are derogatory, some refer to specific
    conditions, either
    way, they are not terms to be used for ‘effect’. </p>

  <app-do-dont
    [doText]="'it aint over until its over or it aint over till the credits roll'"
    [dontText]="'until the fat lady sings'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Insensitive language, - fat-shaming. </p>

  <app-do-dont
    [doText]="'People with disabilities'"
    [dontText]="'handicapped or differently-abled'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Term has been used historically to segregate people with
    disabilities.</p>

  <app-do-dont
    [doText]="'typical or atypical'"
    [dontText]="'abnormal'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Term has been used historically to segregate people with
    disabilities.</p>

  <app-do-dont
    [doText]="'ridiculous, laughable, absurd, wrong... to many viable alternatives to list them all!'"
    [dontText]="'retarted (as a synonym for stupid, etc)'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Term has been used historically to segregate people with
    disabilities.</p>

  <h4 class="heading-4 mb-20 pt-48">Vulgar language</h4>

  <p class="paragraph-text mb-16">This might seem a bit hypocritical for us to talk about when we have a company value
    of “Don’t F%$& the customer” but we have to consider the impact of our words. This value uses swearing for emphasis,
    but you’ll rightly see Atlassian's refer to this in conversation with terms like “Don’t F%$& the customer” when they
    suspect that it might cause offense.</p>

  <p class="paragraph-text mb-16">As we are adults and are often talking to other adults, it can be tempting to add
    jokes or innuendo of a sexual nature, in the name of ‘wink’.</p>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Don’t use sexual references. Ever.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid profanity.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Love and romance are fine but stay out of the bedroom.</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'The diff is too big followed by what the user can do about it.'"
    [dontText]="'While impressive, your diff is just too big - actual Atlassian error message at one point.'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Sexual innuendo, and presumptions about the reader.</p>

  <app-do-dont
    [doText]="'moneyshot'"
    [dontText]="'punchline, zinger, or piece de resistance'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: While some terms may not have origins in offensive
    language, they have been
    co-opted over the years and it’s best practice to avoid. </p>

  <app-do-dont
    [doText]="'power through or puzzle it out'"
    [dontText]="'nut it out'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: While some terms may not have origins in offensive
    language, they have been
    co-opted over the years and it’s best practice to avoid. </p>

  <app-do-dont
    [doText]="'all outm full tilt, all in, 110%'"
    [dontText]="'balls out or balls to the wall'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: While some terms may not have origins in offensive
    language, they have been
    co-opted over the years and it’s best practice to avoid. </p>

  <app-do-dont
    [doText]="'sucker or bad boy or thingy'"
    [dontText]="'Bugger'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: It references a sexual act. </p>

  <h4 class="heading-4 mb-20 pt-48">Sexism</h4>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use gender neutral language. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Reduce unnecessary or irrelevant references to personal characteristics based on
        gender and male-related terms.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid referencing a person’s gender except where it is pertinent to the
        discussion.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Don’t use language that privileges men and renders women invisible or inferior.</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'they (yes: its acceptable even when referring to one person) Unless the recipient has specified a preference.'"
    [dontText]="'him or her'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Not gender neutral.</p>

  <app-do-dont
    [doText]="'*-man (e.g. chairman)'"
    [dontText]="'chair, moderator, firefighter, police officer, mail carrier, etc.'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Not gender neutral, renders women invisible. </p>

  <app-do-dont
    [doText]="'people or humanity'"
    [dontText]="'mankind'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Not gender neutral, renders women invisible.</p>

  <app-do-dont
    [doText]="'advertises job openings with neutral, straightforward titles, such ass Engineer or Associate.'"
    [dontText]="'ninja or rockstart'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Not gender neutral, renders women invisible.</p>

  <app-do-dont
    [doText]="'workforce'"
    [dontText]="'manpower'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Semi-gendered - studies have shown that (specifically in
    job descriptions)
    women are less likely to apply when these types of descriptors are used (also “competitive” or “determined”).
    Conversely, “cooperative” and “collaborative” tend to attract more women and turn away men.</p>

  <app-do-dont
    [doText]="'pull back the curtain or shed light'"
    [dontText]="'open the kimono'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Not gender neutral renders women invisible.</p>

  <app-do-dont
    [doText]="'woman / women (when referring to someone 18 or older'"
    [dontText]="'girl or girls'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Sexualizes women.</p>

  <app-do-dont
    [doText]="'it aint over until its over or it aint over till the credits roll'"
    [dontText]="'until the fat lady sings'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Belittles women, places them in a position of inferiority.
  </p>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Insensitive.</p>

  <h4 class="heading-4 mb-20 pt-48">Sexual orientation and gender identity</h4>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Avoid language that reinforces the assumption that all personal relationships are
        heterosexual and denies the reality of same-sex relationships. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid stereotyping LGBTIQ people. Placing limitations or expectations on people
        because they belong to a certain group is damaging, hurtful, and discriminatory. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid phrases that disparage or trivialize the diversity of LGBTIQ people. </p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'spouse or partner'"
    [dontText]="'wife/husband, or girlfriend/boyfriend'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Reinforces the assumption that all relationships are
    heterosexual, and
    renders same-sex relationships invisible.</p>

  <app-do-dont
    [doText]="'gay, lesbian, bisexsual and transgender'"
    [dontText]="'fag, dyke, queer, poofta and tranny'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: These terms are derogatory when used by people outside the
    LGBTIQ
    community.</p>

  <app-do-dont
    [doText]="'Why be negative in the first place?'"
    [dontText]="'gay as a negative characteristic'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: It’s homophobic. </p>

  <h4 class="heading-4 mb-20 pt-48">Ageism</h4>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <p class="paragraph-text mb-16">Ageist language relies on stereotyping individuals based on the perceived
    characteristics of a group. It de-emphasizes the individual - there is more to each of us than our descriptors. </p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Inclusive language should be sensitive to the entire age range. Terms such as
        ‘older’ and ‘younger’ are relative and should be used with clarity and in context.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use more neutral terms that aren’t definitive such as “older people”, “youth” or
        “young people”.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid terms that limit and categorize. Instead, choose terms such as older adults,
        aging population, or mention the person's relative age or relationship to the other people instead.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid any stereotyping or connotation that a particular age group is more or less
        able, or has stereotypical characteristics by virtue of chronological age alone. Avoid using expressions such as
        ‘a young and vibrant'.</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'Older adults, older person, aging adult'"
    [dontText]="'Seniors, elderly, old-folks, senior citizens'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Terms have connotations. </p>

  <app-do-dont
    [doText]="'Explicitly say the age – unless this is something they are uncomfortable with'"
    [dontText]="'80-years young'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Implies that being young is preferable. </p>

  <app-do-dont
    [doText]="'Energetic, lively'"
    [dontText]="'Young and vibrant'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Implies that being young is preferable. </p>

  <h4 class="heading-4 mb-20 pt-48">Socio-economic status</h4>

  <h5 class="heading-5 mb-20 pt-32">Best practices</h5>

  <p class="paragraph-text mb-16">People can make negative and positive assumptions based on where someone lives and
    their perceived economic status. These assumptions can in turn lead to harmful language based on cultural
    stereotypes and historic events. Many slang words and idioms can also reference socio-economic status. Remember your
    own privilege and move away from using classist language. </p>

  <p class="paragraph-text mb-16">Inclusive language related to socio-economic status should: </p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Treat all people fairly, regardless of where they’re from or what they do</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid negative terms based on where someone’s from or what they do</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Only be mentioned (without judgment) when relevant to a discussion</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Examples</h5>

  <app-do-dont
    [doText]="'Just don’t!'"
    [dontText]="'Bogan or redneck'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: A negative term relating to someone’s perceived
    socio-economic status.</p>

  <app-do-dont
    [doText]="'Person experiencing poverty'"
    [dontText]="'Hobo'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: Makes the experience of homelessness feel like the fault
    of the person, and
    defines that person by that single experience.</p>

  <app-do-dont
    [doText]="'Thrown under the bus'"
    [dontText]="'Sold down the river'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: American slavery reference.</p>

  <app-do-dont
    [doText]="'the crowd or hecklers or naysayers'"
    [dontText]="'Peanut gallery'"
  ></app-do-dont>

  <p class="paragraph-text mb-16"><strong>Reasoning</strong>: A nickname for the cheapest and ostensibly rowdiest seats
    in the theater,
    the occupants of which were often known to heckle the performers. In America, this was often a negative reference to
    lower-socio economic classes. </p>
</div>
