<app-page-banner
  [bannerTitle]="'Design principles'"
  [bannerDescription]="'Our design principles reflect our design philosophy and underpin how our digital experiences unleash the potential in any team.'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">We use the Atlassian design principles to inspire creativity and to continually push
    ourselves to make our products, websites, and integrations better at helping people and teams be more effective.</p>

  <h4 class="heading-4 mb-20 pt-48">Principles</h4>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/6R3hGDRcughjOyXxxQJ8ky/cc95f8f6a80328cfbc653367c2367256/design-principle-01.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Build trust in every interaction</h5>

  <p class="paragraph-text mb-16">Trust is earned throughout the Atlassian experience, from our home page to a build's
    status page. Through the routine tasks and the infrequent. Through the simple and the complicated. In how we respect
    people's privacy and keep their data private. We follow conventions where appropriate, and introduce changes to our
    products carefully.</p>

  <p class="paragraph-text mb-16">Are we meeting not only people's expectations of functionality and behavior, but also
    expectations of reliability, error prevention and recovery, speed, and security in every interaction?</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/3GWjQi9b8WX3dV3IyNyhXM/1d5e5663628df67a0bb0d1d6490ec1e4/design-principle-02.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Connect people to collaborate better</h5>

  <p class="paragraph-text mb-16">Our products are born to bring people together to work in teams, rather than just as
    individuals. They are as accessible as possible, for any context or range of ability, temporary or permanent. They
    are as inclusive as possible, increasing confidence to contribute to the team next door or the team across the
    globe. They are as open as possible, for teams to discover, access, understand, contribute to, and share work
    wherever appropriate.</p>

  <p class="paragraph-text mb-16">Are we encouraging inclusion, accessibility, openness, and connecting people to each
    other and their work?</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/1UdXTZccTgOxgYLaqPkEL5/45f4d1869e88621b7763095eeaba5f62/design-principle-03.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Match purpose and feel familiar</h5>

  <p class="paragraph-text mb-16">Our products are individually fit-for-purpose as well as collectively harmonious, with
    each other as well as other products that people use. Although there's a persistent visual and behavioral
    similarity, they adapt to people's devices and contexts, rather than being consistent for the sake of
    consistency.</p>

  <p class="paragraph-text mb-16">Are we balancing the expectation that learned behaviors will carry across products,
    with the need to adapt appearance and functionality to be more effective?</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/6iMZSIyHeHtyWqCaD0DVz5/0ea21392edc2c569ac921b5e3316fecd/design-principle-04.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Drive momentum from end to end</h5>

  <p class="paragraph-text mb-16">The Atlassian experience respects the work people need to get done, and knows when to
    advise and when to get out of the way. It considers the progress already made, offers better ways to work, connects
    the dots between stages of work and the work itself (for example pages, specs, issues, and code). It celebrates
    what’s done and nudges action on tasks, builds, sprints, and drafts.</p>

  <p class="paragraph-text mb-16">Are we considering the whole journey and anticipating the next step?</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/306jVSCV3LxyLEWfEo4NSy/9cc020442f484cb6cee7bdc8a93b20bf/design-principle-05.png"
      alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Guide mastery for greater value</h5>

  <p class="paragraph-text mb-16">The faster someone can master a product, the more effective they'll be when they're
    using that product. Our products are satisfying to master, from the first evaluation through to complex
    configuration, from onboarding to upgrading, whether doing a task for the first time or after a long time. They
    gracefully reveal depth over time, and enable discovery over time, as teams' challenges grow. This is always done in
    a way that keeps people focused on their work and not how to make our products work.</p>

  <p class="paragraph-text mb-16">Are we revealing greater power only in response to people (both as individuals and
    teams) needing it?</p>

  <h4 class="heading-4 mb-20 pt-48">Cards</h4>

  <p class="paragraph-text mb-16">Download the pack of Atlassian design principles cards.</p>
</div>
