<div class="main-content-wrapper pt-40 pb-40 pl-48 pr-48">
  <!--2. Content section-->
  <div class="display-grid flow-column">
    <div class="display-grid align-items-center flow-column justify-content-between col-2fr-1fr-layout">
      <div class="display-flex flex-direction-column">
        <h3 class="heading-3 display-flex align-items-center mb-20">
          Resources
        </h3>
        <p class="content-description text-light-grey mb-20">A collection of tools, kits, plugins and guides to help
          simplify the creation process for our users.</p>
      </div>

      <div class="media-wrapper mb-16">
        <img style="width: initial;"
             src="https://atlassian.design/static/bd5fc89621bbf572a234fc54915fbd08/resources@2x.png" alt="">
      </div>
    </div>
  </div>

  <div class="display-grid col-3-layout">

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M7.818 12.56l4.243 4.243 4.242-4.242-4.242-4.243-4.243 4.243zm-1.414 1.415a1.995 1.995 0 010-2.828l4.243-4.243a1.995 1.995 0 012.828 0l4.243 4.243c.78.78.786 2.041 0 2.828l-4.243 4.243a1.996 1.996 0 01-2.828 0l-4.243-4.243zM6.5 13h11l-5.44 5.218L6.5 13zm2.732-8.925a1 1 0 011.414 0l3.536 3.536-1.414 1.414L9.232 5.49a1 1 0 010-1.415zM18 16s1.5 2 1.5 3.5c0 1-1 1.5-1.5 1.5s-1.5-.4-1.5-1.5C16.5 18 18 16 18 16z"
              fill="currentColor"></path>
          </svg>
        </div>
        Color palettes
      </h5>
      <p class="paragraph-text">Our colors come in a variety of modes such as RGB, CMYK, PMS and file formats for
        various applications.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M13 11V3.993A.997.997 0 0012 3c-.556 0-1 .445-1 .993V11H3.993A.997.997 0 003 12c0 .557.445 1 .993 1H11v7.007c0 .548.448.993 1 .993.556 0 1-.445 1-.993V13h7.007A.997.997 0 0021 12c0-.556-.445-1-.993-1H13z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </div>
        Contribution
      </h5>
      <p class="paragraph-text">Contribute to our design system offering – a library of content, design, tooling, and
        code for products.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M6 12.235v6.446c0 .537.45.977 1 .977s1-.44 1-.977v-5.778c1.17-.341 2.389-.045 3.768.29.982.238 2.036.495 3.13.495a5.73 5.73 0 002.547-.567 1 1 0 00.563-.9V5.466a.998.998 0 00-1.437-.9c-1.345.654-2.731.317-4.331-.071-1.729-.42-3.687-.895-5.678.072A1 1 0 006 5.466v6.769zm3.111-1.48c1.094 0 2.148.256 3.129.495 1.381.335 2.6.63 3.768.289V6.836c-1.488.27-2.93-.08-4.24-.398-1.379-.335-2.598-.632-3.768-.29v4.704a6.195 6.195 0 011.111-.097z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </div>
        Design principles
      </h5>
      <p class="paragraph-text">Our design principles reflect our design philosophy and underpin how our digital
        experiences unleash the potential in any team. </p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.248 0A3.248 3.248 0 000 3.248v17.504A3.248 3.248 0 003.248 24h17.504A3.248 3.248 0 0024 20.752V3.248A3.248 3.248 0 0020.752 0H3.248zm8.755 17.012a2.506 2.506 0 01-2.505 2.507 2.506 2.506 0 010-5.013 2.506 2.506 0 010-5.012 2.506 2.506 0 010-5.013h5.009a2.506 2.506 0 010 5.013h-2.505v2.5a2.506 2.506 0 012.505-2.5 2.506 2.506 0 010 5.012 2.506 2.506 0 01-2.505-2.5v5.006z"
                  fill="#5243AA"></path>
          </svg>
        </div>
        Figma library
      </h5>
      <p class="paragraph-text">Our Figma libraries contain the latest foundations, components, and resources for
        designing and building Atlassian products.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M6.26 6.678l-3.237 9.534a.5.5 0 00.473.66h1.032a.75.75 0 00.717-.53l.648-2.107H9.63l.647 2.107a.75.75 0 00.717.53h1.113a.5.5 0 00.473-.66L9.337 6.677A1 1 0 008.39 6H7.207a1 1 0 00-.947.678zM7.736 8.08h.051l1.364 4.453H6.372L7.736 8.08zm11.113 2.043v-.327a1 1 0 011-1H20a1 1 0 011 1v6.078a1 1 0 01-1 1h-.151a1 1 0 01-1-1v-.312h-.088c-.392.874-1.232 1.439-2.418 1.439-1.975 0-3.221-1.613-3.221-4.182 0-2.546 1.254-4.15 3.221-4.15 1.172 0 2.026.595 2.418 1.454h.088zm-.045 2.712c0-1.47-.685-2.404-1.754-2.404-1.068 0-1.725.92-1.725 2.404 0 1.491.657 2.395 1.725 2.395 1.076 0 1.754-.911 1.754-2.395z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </div>
        Fonts
      </h5>
      <p class="paragraph-text">Our fonts have been chosen to communicate in a way that helps our users achieve their
        goals. </p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M4.02 19.23a1 1 0 001.18 1.18l3.81-.78-4.21-4.21-.78 3.81zM19.844 6.707l-2.12-2.122A1.997 1.997 0 0016.308 4c-.512 0-1.024.195-1.415.585l-9.757 9.758 4.95 4.95 9.757-9.758a2 2 0 000-2.828z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </div>
        Illustration library
      </h5>
      <p class="paragraph-text">A catalog of our visual storytelling assets.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
            <defs>
              <linearGradient id="uid5" x1="14.8402" y1="15.8324" x2="8.6599" y2="26.5369"
                              gradientUnits="userSpaceOnUse">
                <stop stop-color="inherit" stop-opacity="0.4" offset="0%"></stop>
                <stop stop-color="inherit" offset="0.9228"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#uid5)"
                  d="M11.6397 14.0398C11.2789 13.643 10.7378 13.679 10.4852 14.148L4.64091 25.8728C4.42446 26.3418 4.74912 26.8829 5.25419 26.8829H13.4074C13.6599 26.8829 13.9125 26.7386 14.0207 26.4861C15.7885 22.8424 14.7061 17.3227 11.6397 14.0398Z"></path>
            <path fill="inherit"
                  d="M15.9343 3.36124C12.6513 8.55622 12.8678 14.2923 15.0324 18.6215C17.1969 22.9506 18.8565 26.2336 18.9647 26.4861C19.0729 26.7386 19.3254 26.8829 19.578 26.8829H27.7312C28.2363 26.8829 28.597 26.3418 28.3445 25.8728C28.3445 25.8728 17.3774 3.93846 17.0887 3.39732C16.8723 2.89225 16.259 2.85618 15.9343 3.36124Z"></path>
          </svg>
        </div>
        Logo library
      </h5>
      <p class="paragraph-text">Atlassian’s official logos and lockups for all programs, properties, and products.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <g fill="currentColor" fill-rule="evenodd">
              <path
                d="M3 6.009C3 4.899 3.893 4 4.995 4h14.01C20.107 4 21 4.902 21 6.009v7.982c0 1.11-.893 2.009-1.995 2.009H4.995A2.004 2.004 0 013 13.991V6.01zM5 14h14V6H5v8z"
                fill-rule="nonzero"></path>
              <path d="M10 17h4v3h-4zm-1 3.5a.5.5 0 01.491-.5h5.018a.5.5 0 01.491.5v.5H9v-.5z"></path>
            </g>
          </svg>
        </div>
        Presentation kit
      </h5>
      <p class="paragraph-text">Our complete kit of presentation assets in Keynote and PowerPoint includes graphic
        assets, sample decks, and more.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M6 17h12a1 1 0 010 2H6a1 1 0 010-2zm8-8h4a1 1 0 010 2h-4a1 1 0 010-2zm0 4h4a1 1 0 010 2h-4a1 1 0 010-2zM6 9h4a1 1 0 011 1v4a1 1 0 01-1 1H6a1 1 0 01-1-1v-4a1 1 0 011-1zm0-4h12a1 1 0 010 2H6a1 1 0 110-2z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </div>
        Templates
      </h5>
      <p class="paragraph-text">Various print templates such as posters and letterheads.</p>
    </div>

    <div class="card-surface display-flex flex-direction-column">
      <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
        <div class="icon-rectangular resources medium mb-16">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path
              d="M12 9.44l1.76-1.744a2.505 2.505 0 013.52 0 2.451 2.451 0 010 3.488L12 16.417l-5.28-5.232a2.451 2.451 0 010-3.49 2.505 2.505 0 013.52 0v.001L12 9.44zm-6.684 3.143l.003.004 6.322 6.266a.508.508 0 00.718 0l6.322-6.266.003-.004.004-.003a4.412 4.412 0 000-6.28 4.509 4.509 0 00-6.336 0l-.003.004-.004.003L12 6.65l-.345-.342-.004-.003-.003-.003a4.509 4.509 0 00-6.336 0 4.412 4.412 0 000 6.279l.004.003z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </div>
        Values and principles
      </h5>
      <p class="paragraph-text">Values are our fundamental beliefs (what we hold true), and principles exist to guide
        our behavior (how we achieve those values).</p>
    </div>
  </div>
</div>
