<h2>Step Two: Setting Goals (Define)</h2>

<p>Once you had a good understanding of the problems, you set some goals to make sure you're always keeping the user
  problems in the back of your mind.</p>

<ol>
  <li>
    <p>Make sure the design system is clear: The naming convention should be simple.</p>
  </li>

  <li>
    <p>New designers should understand how to use the design system. If not, the system should be laid out in such a way
      that they should be able to find things for themselves.</p>
  </li>

  <li>
    <p>Engineers should be able to develop with ease. Components, colors and states should be part of the coded design
      system.</p>
  </li>

  <li>
    <p>Focus on the essential components for V1 (Buttons, inputs, colors, type scale, etc.).</p>
  </li>

  <li>
    <p>Build V1 of the design system by only having the components, no states. Since the design system is already coded,
      and the component states exist, the engineer didn't need those states at the moment.</p>
  </li>

  <li>
    <p>It's important not to get overwhelmed with everything that needs to get done. By chunking the work (first basics,
      then states, then language, etc.), you can work on manageable problems with clear boundaries.</p>
  </li>
</ol>
