<app-page-banner
  [bannerTitle]="'Badge'"
  [bannerDescription]="'A badge is a visual indicator for numeric values such as tallies and scores.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Badges are usually placed before or after the label of the thing they're quantifying,
    such as the number of votes for an issue. They should only be used to represent a number, however, the following
    letters and special characters can be used to represent number values: +, -, K. For example:</p>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/f14c9f7d80ff596219daeeab66c06a60/badges-custom-formatting.png" alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Best practices</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use badges in conjuction with a single item or label, to avoid ambiguity which item
        is being quantified.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Badges should include <a href="#">tooltips</a>, where necessary, to enhance user
        understanding. For example, a badge is used in conjuction with an icon.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Server</h4>

  <p class="paragraph-text mb-16">Consult <a href="#">AUI</a> for implementation details.</p>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">For non-numeric status information, use a <a href="#">lozenge</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">To visually label UI objects, use a <a href="#">tag</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use <a href="#">lozenges</a> for statuses.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Call out <a href="#">tags</a> and high-visiblity attributes with labels.</p>
    </li>
  </ul>
</div>
