<app-page-banner
  [bannerTitle]="'Empty state'"
  [bannerDescription]="'An empty state appears when someone clears a screen or finishes a piece of work.'"
></app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">An empty state message appears after someone has completed a task or workflow, or has
    cleared all data associated with certain functionality. For example, clearing their inbox. These messages are a way
    to celebrate, add energy, and motivate people to get on with their next task. </p>

  <p class="paragraph-text mb-16">Empty states can appear within a particular functionality or as a full-screen message.
    When crafting an empty state message, remember that most people scan text instead of reading everything. Make every
    word count and avoid irrelevant details.</p>

  <h4 class="heading-4 mb-20 pt-48">Writing best practices</h4>

  <h5 class="heading-5 mb-20 pt-32">Titles</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Include an informative, scannable title. Try and limit the number of words as much
        as possible.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Titles are a good place to add wink if it’s appropriate.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Write in sentence case and don’t use punctuation unless it's a question. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use the heading to describe the empty state or as an opportunity to tell people
        what they can do. </p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Body copy</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Include the reason for the empty state and where they can go next. If there is
        nothing for them to do, celebrate finishing a task. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid repeating content from the title. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Keep messages one to two sentences long. Be considerate of people's time and
        patience. Be short and to the point, and avoid using jargon.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid having people look in another location for more information, but if it cant'
        be avoided, use a “Learn more” link.</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Call to action (CTA)</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">When offering an action to perform after an empty state, use imperative verbs such
        as “Try”, “Remove” or “Create”, in the CTA to describe what action people will be making instead of vague terms
        such as “OK”. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">An option to dismiss or cancel lets people feel reassured that they can
        opt-out.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Limit your CTA to one or two words. </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Your CTA button should always complement the title of the empty state.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Empty states are an excellent opportunity to encourage people to interact further
        with our products. While optional they’re a good way to educate people about where they can go next or motivate
        them to explore. </p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">Be careful of how many call to action buttons are on one page. You don’t want to
    overwhelm people with too many options. </p>

  <h4 class="heading-4 mb-20 pt-48">Voice and Tone</h4>

  <p class="paragraph-text mb-16">You want to leave people feeling motivated, supported, and delighted. Convey accurate
    emotions and make sure people know how to respond. Follow some of the following Atlassian Voice and Tone principles
    to build your message:</p>

  <h5 class="heading-5 mb-20 pt-32">Motivate by showing possibilities</h5>

  <p class="paragraph-text mb-16">Completing a task makes people feel ambitious, inspired, curious. Provide people with
    the incentive and excitement for continued growth in our products.</p>

  <p class="paragraph-text mb-16">Show the possibilities of what can be accomplished by presenting the them with next
    steps, or offer opportunities for advanced knowledge is always better than leaving people at a dead end. </p>

  <h5 class="heading-5 mb-20 pt-32">Delight with unexpectedly pleasing experiences</h5>

  <p class="paragraph-text mb-16">We’re celebrating the success or progress of completing a task. Write to convey
    excitement. You are giving a pat on the back for a job well done.</p>

  <p class="paragraph-text mb-16">But remember not to overdo it. Timing and repetition are critical. Messages that
    appear more frequently should be more concise and have less 'wink', for example clearing notifications. If messages
    are appearing repeatedly, consider multiple versions if you want to add a wink. These are low commitment
    experiences, we want to give flowers not puppies.</p>

  <p class="paragraph-text mb-16">Messages that appear after a bigger, optimistic action can be more playful, for
    example, a modal dialog. Remember that depending on the component you use, illustrations can also help to add a wink
    to your message.</p>

  <h4 class="heading-4 mb-20 pt-48">Patterns and UX strategies</h4>

  <p class="paragraph-text mb-16">If an empty state has more than one potential cause or solution, try one of the
    following writing strategies.</p>

  <h5 class="heading-5 mb-20 pt-32">An empty state vs. a blank slate message</h5>

  <p class="paragraph-text mb-16">An empty state lets people know when they’ve completed or have cleared a task(s). By
    contrast, a blank slate is a type of message in which people have never come across or tried a new feature before.
    Blank slates promote and encourage users to try something new. </p>

  <p class="paragraph-text mb-16">Use text, design elements, and visual clues to differentiate where people are in their
    journeys.</p>
</div>
