<app-page-banner
  [bannerTitle]="'Icon object'"
  [bannerDescription]="'An object icon is used to represent an Atlassian-specific content type.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Object icons represent an Atlassian-specific content type. They can trigger actions
    such as opening a page in Confluence, an issue in Jira, or a pull request in Bitbucket.</p>

  <p class="paragraph-text mb-16">Unlike a standard icon, object icons help people identify the content type fast. This
    reduces cognitive load for people across products and platforms.</p>

  <p class="paragraph-text mb-16">Object icons can be in:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Search</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Media cards</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Smart cards</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Attachement uploads</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Activity feeds</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Inline links</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Anatomy</h4>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/2042402f528db49dbcd301fcf98c9e0c/icon-object-anatomy.png" alt="">
  </div>

  <h5 class="heading-5 mb-20 pt-32">Color</h5>

  <p class="paragraph-text mb-16">Object icons are assigned specific colors. For cross-product and platform consistency,
    don’t change the color of the object icon.</p>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/8f7188e8522e4ec2f3a02e8cccef4f5d/icon-object-tooltip.png" alt="">
  </div>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use object icons in combination with a title and meta-information, such as author,
        creation date, or sub-heading.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Pair object icons with <a href="#">tooltips</a>. On hover, the tooltip reveals the
        specific content
        type of the icon.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Icon</a></p>
    </li>
  </ul>
</div>
