<app-page-banner
  [bannerTitle]="'Feature discovery'"
  [bannerDescription]="'Feature discovery messages let people know about a new feature.'"
></app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">These messages highlight a new or recently updated experience. Let people know what's
    changed, and invite them to try something new. A feature discovery message should leave your reader feeling:</p>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Curious</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Excited</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Empowered</p>
    </li>
  </ol>

  <p class="paragraph-text mb-16">For more guidance on this message type, see the new or updated feature pattern.</p>

  <h4 class="heading-4 mb-20 pt-48">Tips and tricks</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">When introducing the new feature, consider what the user is trying to accomplish,
        what they were ust doing, and where they need to go.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Titles and messages should clearly indicate user benefits. For example, "Find your
        work faster" versus "New search".</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">This should be a positive experience for users, so it's ok to add a little
        "wink".</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Voice and tone</h4>

  <p class="paragraph-text mb-16">Determine if you need to inform (a feature has moved) or educate (the experience or
    interaction has changed). Introduce the change, communicate its benefits, and provide a call to action if
    appropriate, such as, "learn more".</p>

  <p class="paragraph-text mb-16">Be bold and optimistic about a new feature, especially if there are benefits and
    improvements for the user. Be clear and practical, and you ca add a little "wink" to entice the user to try
    something new.</p>

  <h4 class="heading-4 mb-20 pt-48">Examples</h4>

  <p class="paragraph-text mb-16">The information flag below promotes the updated search feature, giving the option of
    learning more or trying out the new search. </p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/1t18cGEK18RDx72YiQ3VhW/1242d890c8330388fa9fd5ef2e568373/feature-discovery-example-01.png"
      alt="">
  </div>

  <p class="paragraph-text mb-16">This example encourages and empowers the user to begin using Jira as intending by
    adding issues.</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/1t18cGEK18RDx72YiQ3VhW/1242d890c8330388fa9fd5ef2e568373/feature-discovery-example-01.png"
      alt="">
  </div>

  <p class="paragraph-text mb-16">This Bitbucket example encourages people to improve their Bitbucket experience by
    adding branch permissions. It clearly states the benefits and ideal state of using this feature.</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/3qO81dROwY3TIL4Esw1KT9/478c777804f2bfd7eaf3695619db56b9/feature-discovery-example-03.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Related components</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Flag</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Benefits modal</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Spotlight</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">New or updated feature</a></p>
    </li>
  </ul>
</div>
