<app-page-banner
  [bannerTitle]="'Success message'"
  [bannerDescription]="'A success message celebrates success along with the people using our products.'"
></app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">A success message appears after someone has taken an action or completed a task. The
    message is an opportunity to confirm the action or congratulate them.</p>

  <p class="paragraph-text mb-16">When crafting a success message, remember that most people scan text instead of
    reading everything. Make every word count and avoid irrelevant details.</p>

  <h4 class="heading-4 mb-20 pt-48">Writing best practices</h4>

  <h5 class="heading-5 mb-20 pt-32">Title</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Titles are optional depending on the component you choose. Avoid using 'Success!'
        'successfully' in a title.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Include an informative, scannable title. Try and imagine people trying to
        understand what's happening by reading the title on its own.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Limit titles to three to four words where possible, excluding "an", "a", or "the".
        The character count will depend on the component you choose.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Write in sentence case and no use of periods.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid using exclamations. We don't want to be overly enthusiastic about
        everything!</p>
    </li>
  </ul>

  <h5 class="heading-5 mb-20 pt-32">Body</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Include the reason for the success - confirm what action someone has taken or what
        task has been completed. If someone has created something give them an opportunity to view it.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid repeating content from the title.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Keep messages to 1 to 2 sentences. Use a few words of praise followed by one ot two
        sentences of informative insight.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid putting technical information in the message or having people look in another
        location. If it can't be avoided, use a "Learn more" link.</p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">It's important to show possibility once someone has achieved something. We want to
    tell people the result of something, for example 'you've closed the ticket'; how to undo it, for example 'ask your
    space admin to restore the page, if needed'; and the step forward if possible, for example 'View your new space or
    set the permissions on your new space'.</p>

  <h5 class="heading-5 mb-20 pt-32">Call to action (CTA)</h5>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">CTAs are often optional unless there are any follow-up options. Don't include a CTA
        unnecessarily.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Always offer a way to dismiss a message.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">When a success message invokes a choice, use imperative verbs such as "Save",
        "Remove" or "Create", in the CTA to describe what action people will be making instead of vague terms such as
        "OK".</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Always give people an option to dismiss the message.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Limit your CTA to 1 to 2 words.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Voice and tone</h4>

  <p class="paragraph-text mb-16">Success messages should leave people feeling empowered, motivated, and satisfied with
    their efforts.</p>

  <p class="paragraph-text mb-16">You want to confirm the outcome and then get out of people's way. Follow some of the
    following
    <a href="#">Atlassian Voice and Tone principles</a> to build your message:</p>

  <p class="paragraph-text mb-16"><strong>Delight with unexpectedly pleasing experiences</strong></p>

  <p class="paragraph-text mb-16">We're celebrating success or progress once we've built trust. Write to convey
    excitement. You are giving a pat on the back for a job well done.</p>

  <p class="paragraph-text mb-16">But remember not to overdo it. Timing and repetition are critical. Success messages
    that appear more frequently should be more concise and have less "wik", for example a banner message. If messages
    are appearing repeatedly, consider multiple versions if you want to add a wink. These are low commitment
    experiences, we want to give flowers not puppies.</p>

  <p class="paragraph-text mb-16">Messages that appear after a bigger, optimistic action can be more playful, for
    example a modal dialog. Remember that depending on the component ypu use, illustrations can also help to add a wink
    to your message.</p>

  <p class="paragraph-text mb-16">The above example confirms a sign-up subscription. One message is optimistic, clear
    and concise with a call=to-action that encourages the user to keep going. The other is far too formal, cold, and
    leaves people with nowhere to go next.</p>

  <h4 class="heading-4 mb-20 pt-48">Related components</h4>

  <p class="paragraph-text mb-16">Use success messages in the following components:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Flag</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Banner</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Inline message</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Modal dialog</a></p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use alternative text for illustrations and symbols in your messages.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Avoid jargon and use simple language.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Make links as descriptive as possible.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Make text easily scannable to highlight key information.</p>
    </li>
  </ul>
</div>
