<div class="section-inner-container display-grid" style="grid-template-columns: 250px 1fr;">
  <!--1. components sidebar menu-->

  <div class="sidebar-menu display-flex flex-direction-column pt-40">
    <a [routerLink]="'color-palettes'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Color palettes</a>
    <a [routerLink]="'contribution'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Contribution</a>
    <a [routerLink]="'design-principles'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Design principles</a>
    <a [routerLink]="'figma-library'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Figma library</a>
    <a [routerLink]="'fonts'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Fonts</a>
    <a [routerLink]="'illustration-library'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Illustration library</a>
    <a [routerLink]="'logo-library'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Logo library</a>
    <a [routerLink]="'presentation-kit'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Presentation kit</a>
    <a [routerLink]="'templates'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Templates</a>
    <a [routerLink]="'values-and-principles'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Values and principles</a>
  </div>

  <router-outlet style="display: none;"></router-outlet>
</div>
