<app-page-banner
  [bannerTitle]="'Personality'"
  [bannerDescription]="'Our personality describes the tone we use for external communications. It should be expressed as an embodiment of our values.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">What's our personality?</h4>

  <h5 class="heading-5 mb-20 pt-32">Bold</h5>

  <p class="paragraph-text mb-16">We take a stand. Not everyone will agree with everything we say – and that's ok. We
    state our position and back it up. We are clear and direct, acknowledge the hard truths… but are not cocky.</p>

  <p class="paragraph-text mb-16">We have our point of view, but don’t belittle our competitors or people who don't
    share it.</p>

  <p class="paragraph-text mb-16">We are humble. We know we’re a team that makes awesome software, but we're balanced.
    We acknowledge when we fail, admit it, embrace it, and grow from it.</p>

  <h5 class="heading-5 mb-20 pt-32">Optimistic</h5>

  <p class="paragraph-text mb-16">We are upbeat, resourceful, and friendly. We motivate and demonstrate a can-do
    attitude to show our customers what good things are possible. We know that innovating and getting things done is
    messy, we acknowledge that, and then focus on the solutions together.</p>

  <p class="paragraph-text mb-16">We are not delusional. We know that we make sophisticated, and at times complicated
    tools that take a little time to master. So we don't over-promise when it comes to the learning curve. We strive to
    simplify the path and explain the best way forward.</p>

  <p class="paragraph-text mb-16">We make people more productive and less stressed. We can't solve every problem a team
    has, but we empathize and give it our best shot.</p>

  <h5 class="heading-5 mb-20 pt-32">Practical with a wink</h5>

  <p class="paragraph-text mb-16">We lend a helping hand. Tips, tricks, and how-tos are gold. We provide the right
    information at the right time. Having "just enough" is better than "all the things”.</p>

  <p class="paragraph-text mb-16">We use clear, plain-spoken language, avoid industry jargon, and are mindful of using
    references that may confuse people of different cultures.</p>

  <p class="paragraph-text mb-16">We don't take ourselves too seriously. We know humor makes life more enjoyable.</p>

  <p class="paragraph-text mb-16">We are free to be funny, but we don't force it. It's more about being "human" than
    being "humorous."</p>

  <p class="paragraph-text mb-16">We’ll poke fun at ourselves, and are never crude. If it would make our 13-year-old
    cousin snicker, we make a better choice (unless it’s a really bad pun).</p>

  <h4 class="heading-4 mb-20 pt-48">How do I apply our personality to my work?</h4>

  <p class="paragraph-text mb-16">Personality comes across best in the details. The volume of each trait should be
    contextual to the audience and situation.</p>
  <p class="paragraph-text mb-16">Here are some questions you can ask yourself during your process to assess whether or
    not you’re leveraging our personality traits well.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">What is the emotional state of the user when encountering your solution during
        their journey? </p>
    </li>

    <li>
      <p class="paragraph-text mb-8">How might our personality traits help enhance a moment of celebration?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">How might our personality traits help diffuse a moment of frustration or pain?</p>
    </li>
  </ul>
</div>
