<h1>Design Principles & UX - Part 1</h1>

<p>What are Design Principles?</p>

<p>The principles that exist in the world of design are all outlined to help you create a design that is usable,
  aesthetically pleasing and accessible.</p>

<ul>
  <li>
    <h2>Hierarchy</h2>

    <p>The importance of providing visual emphasis on different elements to communicate their level in the page's
      hierarchy.</p>

    <app-hierarchy></app-hierarchy>
  </li>

  <li>
    <h2>Contrast</h2>

    <p>The importance of providing accessible contrast between elements and the background.</p>

    <app-contrast></app-contrast>
  </li>

  <li>
    <h2>Proximity</h2>

    <p>The importance of grouping related elements.</p>

    <app-proximity></app-proximity>
  </li>
</ul>
