<app-page-banner
  [bannerTitle]="'Info messages'"
  [bannerDescription]="'Information messages provide additional information to motivate people.'"
></app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">Use these messages when you want to provide more information without disrupting
    someone’s work or requiring them to take action. </p>

  <p class="paragraph-text mb-16">An info message needs to leave your reader feeling:</p>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Informed</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Helped and supported</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">In control of their situation</p>
    </li>
  </ol>

  <p class="paragraph-text mb-16">Information messages may be used to communicate a change in state or important
    information about an experience or feature. Get right to the point and say why it’s important.</p>

  <h4 class="heading-4 mb-20 pt-48">Tips and tricks</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Get right to the point</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Say why it's important, then let them get back to work</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Keep the information useful and don't disrupt your users experience with the
        message</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Voice and tone</h4>

  <p class="paragraph-text mb-16">Inform the user about something that might happen or impact them. Then let them get
    back to work. Based on the situation, you can add more of a "wink" to your message, but keep it clear and
    concise.</p>

  <h4 class="heading-4 mb-20 pt-48">Examples</h4>

  <p class="paragraph-text mb-16">This flag informs the user they were logged out due to inactivity. It's personable,
    informative and offers a clear action to log back in.</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/4J64BWkMRQVUKgIq2l0ZIY/4347cd248a80ceddebe49e6cd5ccf4ed/info-messages-01.png"
      alt="">
  </div>

  <p class="paragraph-text mb-16">This message is used to inform the user, with a bit of "wink", the reason behind an
    empty state.</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/13NNGFAmETi09UPXa5lzf8/2818037817795e8a5a78a88c664d1923/info-messages-02.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Related Components</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Flag</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Inline message</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Section message</a></p>
    </li>
  </ul>
</div>
