<h2>Tips</h2>

<ul>
  <li>
    <p>Remember that your website's main content doesn't need to take advantage of your brand palette! Your logo and
      large blocks of color can be your brand color, but the interactive elements, headers and other text can all be
      darker variations to improve legibility.</p>
  </li>

  <li>
    <p>Remember to test your design at all stages. When you're first prototyping something, test. As you move into
      development, keep testing. Testing doesn't actually ever end - unless you hit a point where you've run out of time
      or the site is entirely out of your control.</p>
  </li>
</ul>
