<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <h2 class="section-title">Success stories</h2>
    <p>Find out why thousands of users love to use Justinmind to create web and mobile app prototypes.</p>

    <ul class="grid-column-flow">
      <li>
        <img src="../../../assets/justinmind-assets/images/success-story-1.png" alt="Success Story 1"
             [ngStyle]="{'max-width.px': 350, 'width.%': 100, 'height.px': 190}">
        <h5>Temple University inspires the next generation of designers with Justinmind</h5>
        <p>Philadelphia's Temple University bridges the gap between design and business with a little help from
          Justinmind.</p>
        <a href="">
          <span>Read story</span>
        </a>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/success-story-2.png" alt="Success Story 2"
             [ngStyle]="{'max-width.px': 350, 'width.%': 100, 'height.px': 190}">
        <h5>How middle schoolers are designing mobile apps with Justinmind</h5>
        <p>What happens when middle schoolers build prototypes with Justinmind? A whole heap of innovation</p>
        <a href="">
          <span>Read story</span>
        </a>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/success-story-3.png" alt="Success Story 3"
             [ngStyle]="{'max-width.px': 350, 'width.%': 100, 'height.px': 190}">
        <h5>How TokBox solved rework problems with Justinmind</h5>
        <p>TokBox’s web and mobile app prototyping better since Interaction Designer Charles Diggs found the right prototyping
          tool</p>
        <a href="">
          <span>Read story</span>
        </a>
      </li>
    </ul>
  </div>
</section>
