<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <h2 class="section-title">Specifications</h2>
    <p>Instantly export your project to clear specifications documents, along with the visuals needed for easy
      interpretation. All the information in your prototypes can be exported to customizable documents. You can even
      create customized document templates.</p>

    <ul class="grid-column-flow">
      <li>
        <img src="../../../assets/justinmind-assets/images/export-documentation-icon.png" alt="Export Documentation Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Export documentation</h5>
        <p>With a single click, generate specifications documents from your prototypes.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/manage-requirements-icon.png" alt="Manage Requirements Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Manage requirements</h5>
        <p>Add and manage text requirements within the UI prototype and integrate the requirements in your preferred Agile
          tool.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/customize-deliverables-icon.png" alt="Customize Deliverables Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Customize deliverables</h5>
        <p>Create your own specifications document templates or use our API to generate the assets you need.</p>
      </li>
    </ul>
  </div>
</section>
