<p>sidebar-navigation-menu works!</p>

<div class="sidebar-navigation-menu-list">
  <a href="#">Topics</a>

  <a href="#">Agile</a>
  <a href="#">Design Process</a>
  <a href="#">Ecommerce</a>
  <a href="#">Intranets</a>
  <a href="#">Navigation</a>
  <a href="#">Psychology and UX</a>
  <a href="#">Research Methods</a>
  <a href="#">Study Guides</a>
  <a href="#">User Testing</a>
  <a href="#">Web Usability</a>

  <a href="#">See all topics</a>
</div>


<div class="sidebar-navigation-menu-list">
  <a href="#">Popular Articles</a>

  <a href="#">10 Usability Heuristics for User Interface Design</a>
  <a href="#">When to Use Which User Experience Research Methods</a>
  <a href="#">Empathy Mapping: The First Step in Design Thinking</a>
  <a href="#">Service Blueprints: Definition</a>
  <a href="#">Between-Subjects vs. Within-Subjects Study Design</a>
  <a href="#">Usability 101: Introduction to Usability</a>
  <a href="#">UX Research Cheat Sheet</a>
  <a href="#">UX Mapping Methods Compared: A Cheat Sheet</a>
  <a href="#">Journey Mapping 101</a>
  <a href="#">Why You Only Need to Test with 5 Users</a>
</div>


<div class="sidebar-navigation-menu-list">
  <a href="#">Recent Articles</a>

  <a href="#">ConocoPhillips's Improved Intranet Content-Management Process</a>
  <a href="#">Facilitating UX Workshop: Study Guide</a>
  <a href="#">Structuring Intranet Discovery & Design Research</a>
  <a href="#">Designing for Long Waits and Interruptions: Migrating Breaks in Workflow in Complex Application Design</a>
  <a href="#">Service Blueprints: How to Choose What Experience to Visualize</a>
</div>


<div class="sidebar-navigation-menu-list">
  <a href="#">Authors</a>

  <a href="#">Bruce Tognazzini</a>
  <a href="#">Don Norman</a>
  <a href="#">Jakob Nielsen</a>

  <a href="#">See all authors</a>
</div>


<div class="sidebar-navigation-menu-list">
  <a href="#">Articles</a>

  <a href="#">Sympathy vs. Empathy in UX</a>
  <a href="#">In Defense of Post-its</a>
  <a href="#">Using Prioritization Matrices to Inform UX Decisions</a>
  <a href="#">The 5 Steps to Service Blueprinting</a>
  <a href="#">Empathy Mapping: The First Step in Design Thinking</a>
</div>


<div class="sidebar-navigation-menu-list">
  <a href="#">UX Conference Training Courses</a>

  <a href="#">Design Tradeoffs and UX Decision Frameworks</a>
  <a href="#">Generating Big Ideas with Design Thinking</a>
  <a href="#">Interaction Design: 3-day Course</a>
  <a href="#">Facilitating UX Workshops</a>
  <a href="#">Journey Mapping to Understand Customer Needs</a>
</div>



<div class="sidebar-navigation-menu-list">
  <a href="#">Research Topics</a>

  <a href="#">Intranet Design Annual: 2019</a>
  <a href="#">Intranet Portals: UX Design Experience from Real-Life Projects</a>
  <a href="#">Effective Agile UX Product Development</a>
  <a href="#">Paper Prototyping Training Video</a>
  <a href="#">Social Features on Intranets: Case Studies of Enterprise 2.0</a>
</div>



<div class="sidebar-navigation-menu-list">
  <a href="#">1-Hour Talks</a>

  <a href="#">How Inclusive Design Expands Business Value Effective Wireframing</a>
  <a href="#">Effective Wireframing</a>
  <a href="#">Facilitating Remote Design Workshops</a>
  <a href="#">Design Thinking in the Digital Workplace</a>
  <a href="#">Don Norman Answers: Your Top UX Questions</a>
</div>
