<app-page-banner
  [bannerTitle]="'Inline dialog'"
  [bannerDescription]="'An inline dialog is a pop-up container for small amounts of information. It can also contain controls.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Inline dialogs are displayed when triggered by a user action, usually by clicking a
    button.</p>

  <h4 class="heading-4 mb-20 pt-48">Anatomy</h4>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/9467f35f2d75aa70cdc51ddd7a9f52f8/inline-dialog-anatomy.png" alt="">
  </div>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Trigger</strong>: Indicates what information the inline dialog will
        surface.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Window</strong>: Displayed when the trigger is selected.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Controls</strong>: Control items can include <a href="#">buttons</a>, <a
        href="#">checkboxes</a>, and <a href="#">text fields</a>.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Best practices</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Inline dialogs should be used when sections within the page require further
        information or actions, but are not crucial to the page as a whole.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Inline dialogs should be concise to get the point across as quickly as possible.
        This is a focused component, so only one dialog can be open at a time.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">A great use for inline dialogs is feature discovery.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Content guidelines</h4>

  <p class="paragraph-text mb-16">Text in an inline dialog should be concise to get the point across as quickly as
    possible.</p>

  <h4 class="heading-4 mb-20 pt-48">Server</h4>

  <p class="paragraph-text mb-16">Consult <a href="#">AUI</a> for implementation details.</p>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use <a href="#">inline messages</a> to alert users that important information is
        available or an
        action is required to complete the current task.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">See <a href="#">flags</a> for messages containing confirmations, alerts, and
        acknowledgments that
        require minimal user interaction.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Use <a href="#">modal dialogs</a> for more complex interactions and information.
      </p>
    </li>
  </ul>
</div>
