<app-page-banner
  [bannerTitle]="'Avatar'"
  [bannerDescription]="'An avatar is a visual representation of a user or entity.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">An avatar acts as a proxy for a user or entity (such as a project, repository, or
    space), in a product. They're often combined with status or presence indicators to give more context. Users
    generally upload their own image, otherwise, a default image is displayed.</p>

  <p class="paragraph-text mb-16">Use:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">circular avatars to quickly identify users</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">square avatars to help identify large product entities like projects, spaces,
        groups, rooms, or repositories</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">a presence indicator to indicate presence for a single user</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">a status icon to indicate a user's status in a product</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Anatomy</h4>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Body</strong>: The image representing the user or entity.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Status</strong>: An icon that displays the avatar's status.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Presence</strong>: Indicates if a user is available, away, focused, or
        busy.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Best practices</h4>

  <p class="paragraph-text mb-16">Check you're using the appropriately sized shape and sized avatar for your use
    case.</p>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use the <code>name</code> prop to ensure there is an alternative text equivalent
        for screen readers.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">To avoid confusion, do not use a <a href="#">tooltip with an avatar</a> when it is
        non-interactive or disabled, as the tooltip may not work consistently for keyboard users and screen readers.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Mobile guidelines</h4>

  <p class="paragraph-text mb-16">Tap on the avatar to reveal its details.</p>

  <h4 class="heading-4 mb-20 pt-48">Server</h4>

  <p class="paragraph-text mb-16">Consult <a href="#">AUI</a> for implementation details.</p>
</div>
