<section [ngStyle]="{'background-color': '#ffffff'}" class="jsm-popular-customers">
  <div class="layout-inner-container">
    <ul class="grid-column-flow">
      <li>
        <img src="../../../assets/justinmind-assets/images/adobe-logo.png" alt="Adobe Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/google-logo.png" alt="Google Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/kroger-logo.png" alt="Kroger Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/irs-logo.png" alt="IRS Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/verizon-logo.png" alt="Verizon Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/cisco-logo.png" alt="Cisco Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/siemens-logo.png" alt="Siemens Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/sony-logo.png" alt="Sony Logo"
             [ngStyle]="{'max-height.px': 45, 'width': 'auto'}">
      </li>
    </ul>
  </div>
</section>
