<app-page-banner
  [bannerTitle]="'Mission'"
  [bannerDescription]="'Our mission is to unleash the potential in every team.'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">No matter what team you’re on or what talents you offer, your time with Atlassian
    should be in service of the mission.</p>

  <h4 class="heading-4 mb-20 pt-48">How do I apply our mission to my work?</h4>

  <p class="paragraph-text mb-16">Everything we do as a company should in some way further our mission. Ask yourself the
    following questions during your process to assess if your solution is mission-driven.</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">How does your solution help teams work better together, build trust, and increase
        the cross-flow of information?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">How might your solution acknowledge the messiness inherent in teamwork and help
        teams recognize their potential?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">How can your solution paint an exciting picture of how teamwork could be
        better?</p>
    </li>
  </ul>
</div>
