<div class="section-inner-container display-grid col-1fr-2fr-layout">
  <!--1. components sidebar menu-->

  <div class="sidebar-menu display-flex flex-direction-column pt-40">
    <a href="#" class="sidebar-menu-link text-dark-grey">Avatar</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Avatar group</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Badge</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Banner</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Breadcrumbs</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Button</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Checkbox</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Code</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Date time picker</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Dropdown menu</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Dynamic table</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Empty state</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Flag</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Form</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Icon</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Icon object</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Inline dialog</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Inline edit</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Inline message</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Logo</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Lozenge</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Modal dialog</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Onboarding (spotlight)</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Page header</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Pagination</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Progress bar</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Progress indicator</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Progress tracker</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Radio</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Range</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Section message</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Select</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Spinner</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Tabs</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Tag</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Tag group</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Text area</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Text field</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Toggle</a>
    <a href="#" class="sidebar-menu-link text-dark-grey">Tooltip</a>
  </div>

  <div class="main-content-wrapper pt-40 pb-40 pl-48 pr-48">
    <!--2. Content section-->
    <div class="display-grid flow-column">
      <div class="display-grid align-items-center flow-column justify-content-between col-2fr-1fr-layout">
        <div class="display-flex flex-direction-column">
          <h3 class="heading-3 display-flex align-items-center mb-20">
            Components
          </h3>
          <p class="content-description text-light-grey mb-20">Components are the reusable building blocks of our design
            system. Each component meets a specific interaction or UI need, and has been specifically created to work
            together to create patterns and intuitive user experiences.</p>
        </div>

        <div class="media-wrapper mb-16">
          <img style="width: initial;" src="assets/illustrations/illustration-components.png" alt="">
        </div>
      </div>
    </div>

    <div class="display-grid col-3-layout">
      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/3c1390e7c8dbdb7d7e4ab45a09990226/avatar.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Avatar</h5>

        <p class="paragraph-text">An avatar is a visual representation of a user or entity.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/e489b3cc14bcf286a5f6627c4057094f/avatar-group.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Avatar group</h5>

        <p class="paragraph-text">An avatar group displays a number of avatars grouped together in a stack or
          grid.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/b63b4b561bc03e1a0f22e47aaf7af4c2/badge.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Badge</h5>

        <p class="paragraph-text">A badge is a visual indicator for numeric values such as tallies and scores.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/b153bc1ba7f3c47e7e03976d4b726703/banner.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Banner</h5>

        <p class="paragraph-text">A banner displays a prominent message at the top of the screen.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/8117a0cbb291292949fb2c24081694af/breadcrumbs.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Breadcrumbs</h5>

        <p class="paragraph-text">Breadcrumns are a navigation system used to show a user's location in a site or
          app.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/19964f2a94ab4307f32be778a52a9a72/button.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Button</h5>

        <p class="paragraph-text">A button triggers an event or action. They let users know what will happen
          next.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/835883aa442b8f0123af685a9c6990a4/checkbox.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Checkbox</h5>

        <p class="paragraph-text">A checkbox is an input control that allows a user to select one or more options
          from a number of choices.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a3b808e19ca0747b0fb4f4da1b0c70be/code.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Code</h5>

        <p class="paragraph-text">Code highlights short strings of code snippets inline with body text.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/1fbb38a9622d5f07293373657d3cb58e/datetime-picker.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Date time picker</h5>

        <p class="paragraph-text">A date time picker allows the user to select an associated date and time.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a9bfbc192e6c649546ac5c36686d01b2/dropdown-menu.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Dropdown menu</h5>

        <p class="paragraph-text">A dropdown menu displays a list of actions or options to a user.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a172ff8037829f310740254ee95c4b87/dynamic-table.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Dynamic table</h5>

        <p class="paragraph-text">A dynamic table displays rows of data with built-in pagination, sorting, and
          re-ordering functionality.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/6693da438f0e776f13f30d1587b413ec/empty-state.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Empty state</h5>

        <p class="paragraph-text">An empty state appears when there is no data to display and describes what the
          user can do next.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/7826b8a5943c592947075349b8133bb3/flag.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Flag</h5>

        <p class="paragraph-text">A flag is used for confirmations, alerts, and acknowledgments that require
          minimal user interaction, often dis ...</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a770e300a867d36bbe5f535db353f30d/form.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Form</h5>

        <p class="paragraph-text">A form allows users to input information.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/46d293a16c6ea17f9bb6af1070a5cadd/icon.svg" alt="">
        </div>

        <h5 class="heading-5 mb-8">Icon</h5>

        <p class="paragraph-text">An icon is a visual representation of a command, device, directory, or common
          action.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/30159a9343df8a67d2ce10240c4b3c5b/icon-object.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Icon object</h5>

        <p class="paragraph-text">An object icon is used to represent an Atlassian-specific content type.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/28a12edf23243e3d573eb1390d3f78bc/inline-dialog.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Inline dialog</h5>

        <p class="paragraph-text">An inline dialog is a pop-up container for small amounts of information. It can
          also contain controls.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/efccd6828c3d3912555684d570748fc0/inline-edit.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Inline edit</h5>

        <p class="paragraph-text">An inline edit displays a custom input component that switches between reading
          and editing on the same page.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/97f1f825fc554a6cd8e22c0b04e08ae1/inline-message.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Inline message</h5>

        <p class="paragraph-text">An inline message lets users know when important information is available or when
          an action is required.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/2ca8bbd7da4efdf9550804f4e014db4c/logo.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Logo</h5>

        <p class="paragraph-text">A logo is a visual representation of a brand or product. It can be a word or an
          image, or a combination of both.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/1892ede0d2e041d09f964f165e49c7db/lozenge.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Lozenge</h5>

        <p class="paragraph-text">A lozenge is a visual indicator used to highlight an item's status for quick
          recognition.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a6e35b2bff8516b23006e47006dbdd32/modal-dialog.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Modal dialog</h5>

        <p class="paragraph-text">A modal dialog displays content that required user interaction, in a layer above
          the page.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/7742284ac778aa6bb35d976bca86f6ee/onboarding.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Onboarding (spot-light)</h5>

        <p class="paragraph-text">An onboarding spotlight introduces new features to users though focused messages
          or multi-step tours.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/d95146045a423f0e761ba4ee05b039e7/page-header.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Page header</h5>

        <p class="paragraph-text">A page header defines the top of a page. It contains a title and can be
          optionally combined with breadcrumbs.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/e5f48c657b6c74a6448391a0b786ae23/pagination.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Pagination</h5>

        <p class="paragraph-text">Pagination allows you to divide large amounts of content info smaller chunks
          across multiple pages.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/be187a9a6bbbe33ca07eff387d394def/progress-bar.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Progress bar</h5>

        <p class="paragraph-text">A progress bar displays the status of a given process.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/cdac618ec1ff3ba591d4c46373f1c343/progress-indicator.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Progress indicator</h5>

        <p class="paragraph-text">A progress indicator shows the user where they are along the steps of a
          journey.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/534c957dca12ab6b356100b9a3bdb773/progress-tracker.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Progress tracker</h5>

        <p class="paragraph-text">A progress tracker displays the steps and progress through a journey.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/b14e74ef3f237b2acd637f055d51a066/radio.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Radio</h5>

        <p class="paragraph-text">A radio input allows people to select only one option from the number of choices.
          Radio is generally displayed</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/efa6a639ca2efa8c374e1614a31edfbe/range.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Range</h5>

        <p class="paragraph-text">A range lets users choose an approximate value on a slider.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/9433b7baa5c271a31abb32d903dea589/section-message.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Section message</h5>

        <p class="paragraph-text">A section message is used to alert users to a particular section of the
          message.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a7b62f53b3b493c53ede40f131e920fe/select.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Select</h5>

        <p class="paragraph-text">Select allows usrs to make a single selection or multiple selections from list of
          options.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/7664dccc6d1f46dbe7dc275465536d42/spinner.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Spinner</h5>

        <p class="paragraph-text">A spinner is an animated spinning icon that lets users know content is being
          loaded.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/1df66f91e7dcccbc675789a7e6528d4b/tabs.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Tabs</h5>

        <p class="paragraph-text">Tabs are ussed to organize content by grouping similar information on the same
          page.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/e293f85ad7b33e61f70b26a59a177693/tag.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Tag</h5>

        <p class="paragraph-text">A tag labels UI objects for quick recognition and navigation.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/d735418f20408d0bdd40aab9eaa1b4b3/tag-group.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Tag group</h5>

        <p class="paragraph-text">A tag group controls the layout and alignment for a collection of tags.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/a4044afc4b8d0733c0ba24ad0581e85b/textarea.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Text area</h5>

        <p class="paragraph-text">A text area lets users enter long form text which spans over multiole lines.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/8f62f7739e3e0f4c6ea7b6f6df42aa23/textfield.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Text field</h5>

        <p class="paragraph-text">A text field is an input that allows a user to write or edit text.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/ea0b815af0f32238525aa0505e170e30/toggle.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Toggle</h5>

        <p class="paragraph-text">A toggle is used to view or switch between enabled or disabled states.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <div class="media-wrapper mb-16">
          <img src="https://atlassian.design/static/ca848fe0797cf0b08a1376ae841e43b2/tooltip.svg" alt="">
        </div>
        <h5 class="heading-5 mb-8">Tooltip</h5>

        <p class="paragraph-text">A tooltip is a floating, non-actionable label used to explain a user interface
          element or feature.</p>
      </div>
    </div>
  </div>
</div>
