<div class="section-inner-container display-grid" style="grid-template-columns: 250px 1fr;">
  <!--1. components sidebar menu-->

  <div class="sidebar-menu display-flex flex-direction-column pt-40">
    <a [routerLink]="'avatar'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Avatar</a>
    <a [routerLink]="'avatar-group'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Avatar group</a>
    <a [routerLink]="'badge'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Badge</a>
    <a [routerLink]="'banner'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Banner</a>
    <a [routerLink]="'breadcrumbs'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Breadcrumbs</a>
    <a [routerLink]="'button'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Button</a>
    <a [routerLink]="'checkbox'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Checkbox</a>
    <a [routerLink]="'code'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Code</a>
    <a [routerLink]="'date-time-picker'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Date time picker</a>
    <a [routerLink]="'dropdown-menu'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Dropdown menu</a>
    <a [routerLink]="'dynamic-table'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Dynamic table</a>
    <a [routerLink]="'empty-state'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Empty state</a>
    <a [routerLink]="'flag'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Flag</a>
    <a [routerLink]="'form'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Form</a>
    <a [routerLink]="'icon'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Icon</a>
    <a [routerLink]="'icon-object'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Icon object</a>
    <a [routerLink]="'inline-dialog'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Inline dialog</a>
    <a [routerLink]="'inline-edit'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Inline edit</a>
    <a [routerLink]="'inline-message'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Inline message</a>
    <a [routerLink]="'logo'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Logo</a>
    <a [routerLink]="'lozenge'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Lozenge</a>
    <a [routerLink]="'modal-dialog'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Modal dialog</a>
    <a [routerLink]="'onboarding'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Onboarding (spotlight)</a>
    <a [routerLink]="'page-header'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Page header</a>
    <a [routerLink]="'pagination'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Pagination</a>
    <a [routerLink]="'progress-bar'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Progress bar</a>
    <a [routerLink]="'progress-indicator'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Progress indicator</a>
    <a [routerLink]="'progress-tracker'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Progress tracker</a>
    <a [routerLink]="'radio'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Radio</a>
    <a [routerLink]="'range'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Range</a>
    <a [routerLink]="'section-message'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Section message</a>
    <a [routerLink]="'select'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Select</a>
    <a [routerLink]="'spinner'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Spinner</a>
    <a [routerLink]="'tabs'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Tabs</a>
    <a [routerLink]="'tag'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Tag</a>
    <a [routerLink]="'tag-group'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Tag group</a>
    <a [routerLink]="'text-area'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Text area</a>
    <a [routerLink]="'text-field'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Text field</a>
    <a [routerLink]="'toggle'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Toggle</a>
    <a [routerLink]="'tooltip'" [routerLinkActive]="'active'" class="sidebar-menu-link text-dark-grey">Tooltip</a>
  </div>

  <router-outlet style="display: none;"></router-outlet>
</div>
