<app-page-banner
  [bannerTitle]="'Avatar group'"
  [bannerDescription]="'An avatar group displays a number of avatars grouped together in a stack or grid.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Use avatar group when you want to display a collection of avatars. You can also use
    them for easy collapse states for a set number of avatars and with a dropdown to show hidden avatars.</p>

  <h4 class="heading-4 mb-20 pt-48">Behavior</h4>

  <h5 class="heading-5 mb-20 pt-32">Stack</h5>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/64311a493925d94da79f2777148e868b/AvatarGroupStack.png" alt="">
  </div>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Avatar group</strong>: Stacked groups are limited to five avatars and
        should only be used with medium or small avatars.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Truncated</strong>: For groups larger than six, five avatars are displayed
        and additional avatars are represented as +N.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>States</strong>: The avatar state will change when a user interacts with
        it.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Dropdown menu</strong>: When hovering over the truncated avatar, a dropdown
        menu shows the truncated user names.</p>
    </li>
  </ol>

  <h5 class="heading-5 mb-20 pt-32">Grid</h5>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/597322de71a08365b23b2faebd8fd803/AvatarGroupGrid.png" alt="">
  </div>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Avatar group</strong>: Grids are limited to three rows.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Truncated</strong>: For grou[s larger than 12, 11 avatars are displayed and
        additional avatars are represented as +N.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>States</strong>: The avatar state will change when a user interacts with
        it.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>List menu</strong>: When a user selects the truncated avatar, all of the
        avatars are displayed in a list.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <p class="paragraph-text mb-16">As the avatar is a visual representation of a user or entity. Make sure there's an alt
    text equivalent included for screen readers for:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">users</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">projects</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">spaces</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">groups</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">repositories</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">A single <a href="#">avatar</a> forms part of the avatar group.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Avatar item</a> is the wrapper around each avatar.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Avatar presence</a> is the status indicator.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Avatar skeleton</a> shows the loading state.</p>
    </li>
  </ul>
</div>
