<app-page-banner
  [bannerTitle]="'Values'"
  [bannerDescription]="'Our values reflect the spirit with which an Atlassian works to fulfill our promise.'">
</app-page-banner>

<div class="page-content">
  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/2HLtxxrTIosIgUmDkv59S0/9b9b176085e53179d857d40e77b8da52/value-01-OCNB.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Open company, no bullshit</h4>

  <p class="paragraph-text mb-16">Openness is root level for us. Information is open internally by default and sharing
    is a first principle. And we understand that speaking your mind requires equal parts brains (what to say),
    thoughtfulness (when to say it), and caring (how it’s said). </p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/7ahnqpqSdIeHV7YCsZOUuP/6aabb4339ea0da89856400afc4482d96/value-02-BWHB.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Build with heart and balance</h4>

  <p class="paragraph-text mb-16">“Measure twice, cut once.” Whether you're building a birdhouse or a business, this is
    good advice. Passion and urgency infuse everything we do, alongside the wisdom to consider options fully and with
    care. Then we make the cut, and we get to work. </p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/3CZLVuxGjuamlYxQPqf3R/d2db1708e07d51ce7ecc38c748b4d006/value-03-DFTC.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Don't #@!% the customer</h4>

  <p class="paragraph-text mb-16">Customers are our lifeblood. Without happy customers, we’re doomed. So considering the
    customer perspective - collectively, not just a handful - comes first.</p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/2JJV8qL1d6BwTMOl8ppecB/52ce873a907961204f3bbe2b63bf7079/value-04-PAAT.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Play, as a team</h4>

  <p class="paragraph-text mb-16">We spend a huge amount of our time at work. So the more that time doesn’t feel like
    “work,” the better. We can be serious, without taking ourselves too seriously. We strive to put what’s right for the
    team first – whether in a meeting room or on a football pitch. </p>

  <div class="media-wrapper mb-16">
    <img
      src="https://images.ctfassets.net/8j5aqoy0ts8s/26o3UdBZWoQzVVmxvlCutf/ef6caa5bc626f2de2b898343a7e4e3bb/value-05-BTCYS.png"
      alt="">
  </div>

  <h4 class="heading-4 mb-20 pt-48">Be the change you seek</h4>

  <p class="paragraph-text mb-16">All Atlassians should have the courage and resourcefulness to spark change – to make
    better our products, our people, our place. Continuous improvement is a shared responsibility. Action is an
    independent one.</p>
</div>
