<app-page-banner
  [bannerTitle]="'Code'"
  [bannerDescription]="'Code highlights short strings of code snippets inline with body text.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Code has default styling that's defined in the library (which can be overwritten if
    needed).</p>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <p class="paragraph-text mb-16">When overriding default styles, remember to comply with <a href="#">AA standard
    contrast ratios</a> for text to ensure that code is readable for all users. Learn more in our
    <a href="#">accessibility guidelines</a>.</p>
</div>
