<app-page-banner
  [bannerTitle]="'Banner'"
  [bannerDescription]="'A banner displays a prominent message at the top of the screen.'">
</app-page-banner>

<div class="page-content">
  <h4 class="heading-4 mb-20 pt-48">Usage</h4>

  <p class="paragraph-text mb-16">Use banners at the top of the screen to display critical messaging about the loss of
    data, functionality, or important site-wide information that affects the user's ability to use the product.</p>

  <p class="paragraph-text mb-16">Banners should appear one at a time, are not dismissible, and only disappear when no
    longer required. Banners animate into a screen by pushing the entire content below down.</p>

  <h4 class="heading-4 mb-20 pt-48">Anatomy</h4>

  <div class="media-wrapper mb-16">
    <img src="https://atlassian.design/88e0cd357d61e446b8edb65ccbb9141e/banner-anatomy.jpg" alt="">
  </div>

  <ol class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><strong>Icon</strong>: Only use the error ad warning icons.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Message</strong>: Give a short description of the severity of the issue,
        products affected, and any actions to remedy the situation.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><strong>Actions (optional)</strong>: A link to a call to action or next steps. Any
        links to documentation should open in a new tab.</p>
    </li>
  </ol>

  <h4 class="heading-4 mb-20 pt-48">Content guidelines</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use concise, scannable language that communicates the problem at a glance.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Admit when the problem is ours by using the second person.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Best practices</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">Use banners sparingly, particularly warning and error banners, as thy are
        persistent and disrupt the user's workflow.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Make sure that the key actionable information is visible at a glance.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">Always be clear, concise, and, where possible, give follow up actions to allow the
        user to become more informed or resolve the issue.</p>
    </li>
  </ul>

  <h4 class="heading-4 mb-20 pt-48">Accessibility</h4>

  <p class="paragraph-text mb-16">Make sure the words in the banner indicate the severuty of the banner message
    instantly for users who can't recognize certain colors.</p>

  <h4 class="heading-4 mb-20 pt-48">Server</h4>

  <p class="paragraph-text mb-16">Consult <a href="#">AUI</a> for implementation details.</p>

  <h4 class="heading-4 mb-20 pt-48">Related</h4>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">For confirmations, alerts, and acknowledgemenets that require minimasl user
        interaction use a
        <a href="#">flag message</a>.</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">To alert users that important information is available or an action is required use
        an
        <a href="#">inline message</a>.</p>
    </li>
  </ul>
</div>
