<app-jsm-header></app-jsm-header>

<app-jsm-hero></app-jsm-hero>

<app-jsm-popular-customers></app-jsm-popular-customers>

<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <h2 class="section-title">Easily design fully-interactive prototypes</h2>
    <p>Bring interaction design to a new level creating from clickable prototypes to fully functional simulations. We
      provide a full range of web interactions and mobile gestures, so that you can focus on creating delightful user
      experiences.</p>

    <video src="../../../assets/justinmind-assets/videos/fully-interactive-ui-prototypes-web-mobile.mp4"
           [ngStyle]="{'max-width.px': 1145, 'width.%': 100, 'margin': 'auto'}"></video>

    <ul class="grid-column-flow">
      <li>
        <img src="../../../assets/justinmind-assets/images/visual-design-icon.png" alt="Visual Design Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Visual Design</h5>
        <p>You can design the style, size and layout distribution of any UI element to fit the look and feel of your
          screens.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/web-interactions-icon.png" alt="Web Interactions Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Web interactions</h5>
        <p>Design web experiences with a full range of interactions, animations and transitions. Create anything from
          simple
          links to advanced interactions.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/mobile-gestures-icon.png" alt="Mobile Gestures Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Mobile gestures</h5>
        <p>Choose from a ton of gestures that allow you to rotate, tap, swipe and pinch your way through your mobile app
          prototype.</p>
      </li>
    </ul>
  </div>
</section>

<section [ngStyle]="{'background-color': '#3e4044', 'color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow" style="max-width: 1120px; font-size: 0.95em;">
    <h2 class="section-title">Responsive prototyping</h2>
    <p>Create prototypes for websites and web apps that adapt to multiple screen resolutions for desktop and mobile. The
      UI elements in your screens will also adapt automatically. One free prototyping tool to rule all devices!</p>
    <video src="../../../assets/justinmind-assets/videos/responsive-website-ui-prototypes-mobile-screens.mp4"
           [ngStyle]="{'max-width.px': 1145, 'width.%': 100, 'margin': 'auto'}"></video>

    <ul class="grid-column-flow" style="grid-column-gap: 1rem; text-align: left;">
      <li>
        <img src="../../../assets/justinmind-assets/images/liquid-layouts-icon.png" alt="Liquid Layouts Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Liquid layouts</h5>
        <p>Define liquid conainers to allow elements on a page adapt to different screen sizes, orientations, or aspect
          ratios.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/auto-resize-components-icon.png"
             alt="Auto Resize Components Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Auto-resizing UI components</h5>
        <p>Auto-resize automatically resizes groups of elements on your pages, saving you from multiple changes and
          letting
          you focus on creating.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/advanced-pinning-icon.png" alt="Advanced Pinning Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Advanced pinning</h5>
        <p>Fix the position of objects in containers or screens. Combine the power of pinning with an offset to create
          responsive experiences.</p>
      </li>
    </ul>
  </div>
</section>

<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-column-flow">
    <div>
      <h2 class="section-title">Forms and data in motion</h2>
      <p>Prototype smart forms and data lists, and test them instantly without writing a single line of code. You can also
        design conditional navigation flows for advanced user journeys.</p>

      <ul class="data-list">
        <li class="data-list-item">
          <h6 class="list-item-caption">Prototyping forms interaction</h6>
          <p class="data-list-content">Define interactions and validations for form fields: input, drop-downs, radio buttons...</p>
        </li>

        <li class="data-list-item">
          <h6 class="list-item-caption">Data lists and grids</h6>
          <p class="data-list-content">Design data visualization. Data lists can be dynamic and use data to help user testing.</p>
        </li>
      </ul>
    </div>

    <video src="../../../assets/justinmind-assets/videos/form-data-grid-prototyping.mp4"
           [ngStyle]="{'max-width.px': 715, 'width.%': 100}"></video>
  </div>
</section>

<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-column-flow">
    <img src="../../../assets/justinmind-assets/images/bring-prototypes-to-life.png" alt="Bring Your Prototypes to Life"
         [ngStyle]="{'max-width.px': 715, 'width.%': 100}">

    <div>
      <h2 class="section-title">Bring your prototypes to life in a click</h2>
      <p>Visualize your web and mobile prototypes, while you design them. Test your designs with users.</p>

      <ul class="data-list">
        <li class="data-list-item">
          <h6 class="list-item-caption">Instant preview</h6>
          <p class="data-list-content">Simulate prototype behavior while you design. Save time on your creations!</p>
        </li>

        <li class="data-list-item">
          <h6 class="list-item-caption">View on device</h6>
          <p class="data-list-content">Use our viewer to test your prototype live on any iPhone, iPad or Android device.</p>
        </li>

        <li class="data-list-item">
          <h6 class="list-item-caption">Export to HTML</h6>
          <p class="data-list-content">Export your prototype to a fully functional and interactive HTML.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-column-flow">
    <div>
      <h2 class="section-title">Free UI Kits for web and mobile</h2>
      <p>Speed up your design process with ready-made and frequently updated UI kits. You can also create your own UI kits
        with personalized components.</p>

      <ul class="data-list">
        <li class="data-list-item">
          <h6 class="list-item-caption">Websites and web apps</h6>
          <p class="data-list-content">Use UI kits for prototyping with interactive components.</p>
        </li>

        <li class="data-list-item">
          <h6 class="list-item-caption">Mobile apps</h6>
          <p class="data-list-content">Find iOS and Android components pre-installed in the Justinmind free prototyping tool.</p>
        </li>

        <li class="data-list-item">
          <h6 class="list-item-caption">Diagramming, Sketching and more</h6>
          <p class="data-list-content">You'll also find UI kits for flowcharts, sketching, Salesforce, Oracle and many more.</p>
        </li>
      </ul>
    </div>

    <img src="../../../assets/justinmind-assets/images/ui-kits-for-web-mobile.png" alt="Free UI Kits for Web and Mobile"
         [ngStyle]="{'max-width.px': 715, 'width.%': 100}">
  </div>
</section>

<section [ngStyle]="{'background-color': '#f6f7f8'}" class="jsm-testimonials">
  <div class="layout-inner-container">
    <img src="../../../assets/justinmind-assets/images/quotes-icon-grey.png" alt="Quotes Icon Grey"
         [ngStyle]="{'width.px': 80, 'height.px': 70}">
    <span>With the ability to create prototypes across different screen sizes and devices, we are able to validate hypotheses prior to creative design and build.</span>

    <span>Chris Murray</span>
    <span>Director User Experience | DIGITAS HEALTH LIFEBRANDS</span>

    <img src="../../../assets/justinmind-assets/images/testimonial-user.png" alt="Chris Murray"
         [ngStyle]="{'max-width.px': 450, 'width.%': 100, 'height.px': 335}">
  </div>
</section>

<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <div>
      <h2 class="section-title">Design Systems</h2>
      <p>Keep consistency in your Style Guides, UI component libraries, interactions, templates and other deliverables.
        Share your assets with design teams, business analysts and developers.</p>
    </div>

    <div class="grid-column-flow">
      <img src="../../../assets/justinmind-assets/images/design-systems.png" alt="Design Systems"
           [ngStyle]="{'max-width.px': 585, 'width.%': 100, 'margin': 'auto'}">

      <ul class="grid-row-flow">
        <li class="data-list-card">
          <h6 class="data-list-card-caption">Create your own UI Kits</h6>
          <p class="data-list-content">Easily refine and reuse the built-in libraries or create your own. Personalize them with your own style and
            interactions.</p>
        </li>

        <li class="data-list-card">
          <h6 class="data-list-card-caption">Share and sync UI components</h6>
          <p class="data-list-content">Centralized management for your UI kits. Maintain your UI elements and style guides synchronized across all your
            teams.</p>
        </li>

        <li class="data-list-card">
          <h6 class="data-list-card-caption">Reuse via templates and masters</h6>
          <p class="data-list-content">Templates and masters allow you to share and reuse content (headers, footers and more) across all the screens of a
            prototype.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<app-jsm-banner
  [title]="'A free prototyping tool to rule all screens'"
  [content]="'It\'s easy to get started and it\'s Free!'"
  [buttonLabel]="'Download Free'"
></app-jsm-banner>

<section [ngStyle]="{'background-color': '#ffffff'}" class="grid-row-flow">
  <h2 class="section-title">Collaborate on your prototypes</h2>
  <p>Validate early and often. Allow all your stakeholders to test and review your prototype, leaving no room for
    misunderstandings. Improve communication between teams, putting them all on the same page.</p>

  <video src="../../../assets/justinmind-assets/videos/share-comment-web-mobile-prototypes.mp4"
         [ngStyle]="{'max-width.px': 1145, 'width.%': 100, 'margin': 'auto'}"></video>

  <ul class="grid-column-flow">
    <li>
      <h5>Share and get feedback</h5>
      <p>A single click lets you publish your prototypes and invite all project stakeholders to give feedback early on.</p>
    </li>

    <li>
      <h5>Team prototyping</h5>
      <p>Multiple users can work on or edit the same prototype simultaneously. Our version control system tracks the
        changes.</p>
    </li>
  </ul>
</section>

<section [ngStyle]="{'background-color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <h2 class="section-title">Design handoff for developers</h2>
    <p>Say goodbye to time-costly communication breakdowns. With our developer-friendly viewer, design-development
      collaboration is stress-free. Developers can inspect prototypes and get assets. Keeping developers in the loop means
      your designs get built pixel perfect.</p>

    <img src="../../../assets/justinmind-assets/images/design-handoff.png" alt="Design Handoff for Developers"
         [ngStyle]="{'max-width.px': 1100, 'width.%': 100, 'margin': 'auto'}">
  </div>
</section>

<app-jsm-specifications></app-jsm-specifications>

<section [ngStyle]="{'background-color': '#3e4044', 'color': '#ffffff'}">
  <div class="layout-inner-container grid-row-flow">
    <h2 class="section-title">We love your agile and design tools</h2>
    <p>By combining Justinmind's prototyping strength and your current design, agile and user testing tools, you'll be
      able to rapidly build engaging prototypes for real users to test drive. Bring your designs to life right now!</p>

    <ul class="grid-column-flow">
      <li>
        <img src="../../../assets/justinmind-assets/images/sketch-icon.png" alt="Sketch Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Sketch</h5>
        <p>Import your designs from Sketch into Justinmind and add interactions, effects and transitions</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/adobe-suite-icon.png" alt="Adobe Suite Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Adobe Suite</h5>
        <p>Edit images in Illustrator or Photoshop and see those edits reflected instantly in your interactive prototypes.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/jira-icon.png" alt="Jira Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Atlassian JIRA</h5>
        <p>Justinmind's powerful JIRA integrations means you can streamline information and break down silos.</p>
      </li>
    </ul>

    <ul class="grid-column-flow">
      <li>
        <img src="../../../assets/justinmind-assets/images/microsoft-tfs-icon.png" alt="Microsoft FPS Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Microsoft TFS</h5>
        <p>Import and export work items from Microsoft TFS to Justinmind.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/user-testing-icon.png" alt="User Testing Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>User Testing</h5>
        <p>Record user's reactions as they test the prototype.</p>
      </li>

      <li>
        <img src="../../../assets/justinmind-assets/images/hotjar-icon.png" alt="Hotjar Icon"
             [ngStyle]="{'width.px': 40, 'height.px': 40}">
        <h5>Hotjar</h5>
        <p>Know how real users interact with prototypes.</p>
      </li>
    </ul>

    <a href="">
      <span>View all integrations</span>
    </a>
  </div>
</section>

<app-jsm-success-stories></app-jsm-success-stories>

<app-jsm-recommended-reading></app-jsm-recommended-reading>

<app-jsm-banner
  [title]="'Validate early, prototype better, communicate faster'"
  [content]="'Try the most powerful prototyping tool!'"
  [buttonLabel]="'Download Free'"
></app-jsm-banner>

<app-jsm-footer></app-jsm-footer>
