<h2>Tips</h2>

<ul>
  <li>
    <p>Do a window test on your site or the design you're working on if you think that elements may be too far
      apart. A window test is done by creating a box around a part of the design, resizing the viewport of your design,
      or resizing the artboard of your design.</p>
  </li>

  <li>
    <p>Remember that proximity might change as screen sizes change. For example: multiple columns for desktop need to be
      shifted to only be 1 or maybe 2 columns for mobile, which means the design itself needs to change to be
      responsive.</p>
  </li>
</ul>
