<app-page-banner
  [bannerTitle]="'Figma library'"
  [bannerDescription]="'Our Figma libraries contain the latest foundations, components, and patterns for designing and building Atlassian products.'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">Figma libraries are currently available via Atlassian's community site on Figma: <a
    href="#">https://figma.com/@atlassian</a></p>

  <p class="paragraph-text mb-16">For information on how to use community libraries, refer to the <a href="#">Figma
    documentation.</a></p>
</div>
