.ux-tools-hero {
  background-image: url("https://uploads-ssl.webflow.com/5cff8a354c90e25b78dcc7aa/61543f2245a2fb02a8b57f62_uxmisfit_logo_outline_bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  height: 800px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
