<app-page-banner
  [bannerTitle]="'Promise'"
  [bannerDescription]="'Our promise is that our tools and practices will help teams work better together in an agile, open, and scalable way.'">
</app-page-banner>

<div class="page-content">
  <p class="paragraph-text mb-16">Our promise articulates how we deliver on our mission, and reflects the value
    proposition we offer customers.</p>

  <p class="paragraph-text mb-16">Our teamwork solutions enable an open way of working, freeing the flow of information,
    deepening interpersonal and organizational connections, and enhancing trust, which increases the limits of what
    teams are able to achieve together.</p>

  <h4 class="heading-4 mb-20 pt-48">How do I apply our promise to my work?</h4>

  <p class="paragraph-text mb-16">Just as everything we do should be in support of our mission, everything we do should
    fulfill our promise. </p>

  <p class="paragraph-text mb-16">The first, most vital question to ask yourself here is: does what you are doing break
    our promise? If so, it might be worth sparring the intent of the solution a bit further to ensure there’s alignment
    on why it goes against something so fundamental to Atlassian’s value proposition.</p>

  <p class="paragraph-text mb-16">Other questions you might ask are:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8">How does your solution help teams increase the cross-flow of information and build
        trust?</p>
    </li>

    <li>
      <p class="paragraph-text mb-8">How does your solution adapt to address teams of all shapes and sizes?</p>
    </li>
  </ul>
</div>
