<p>Proximity is also directly related to spacing, in that your line-height should be small enough that a paragraph
  looks like a paragraph and not a bunch of poorly structured paragraphs, and that your paragraphs look like they're
  properly spaced from each other. This is also important in list design, as you typically want more spacing than your
  typical line-height, but less spacing than that between your paragraphs.</p>

<p>Any related elements, like buttons, graphics or icons should all be close enough to their parent item to make it
  clear that the items are actually related. A form's submit button shouldn't be spaced so far apart from the form that
  it looks like it's just a floating CTA button. Icons should be spaced closer to their respective links than the next
  link. If an image has a caption, the caption should visually look like it's describing the image and not a
  floating paragraph with no context.</p>

<app-proximity-tips></app-proximity-tips>
