<app-page-banner
  [bannerTitle]="'Writing guidelines'"
  [bannerDescription]="'Use these guidelines as a source of truth, for best practices and patterns when writing messages.'">
</app-page-banner>

<router-outlet style="display: none;"></router-outlet>

<div class="page-content">
  <p class="paragraph-text mb-16">Humans care about how products talk to them. Whether you look at giants like Google
    and Apple, or upstarts like Trello, Github and Slack, these products all have a distinct voice, tone and
    personality. They engage us, manage to make us feel at home, capture our attention, and earn our loyalty.</p>

  <p class="paragraph-text mb-16">Poor messaging contributes to a poor user experience, which in turn leads to
    frustration, dissatisfaction, and abandonment. On the other hand, good copy reflects our products' voice
    (personality) and enables us to build a relationship with our audience. </p>

  <p class="paragraph-text mb-16">In short, good messaging may not be a reason people stay in our products, but bad
    messaging could be a reason they decide to leave. </p>

  <p class="paragraph-text mb-16">Use the guidelines and table below to inform your copywriting, calibrate your tone,
    and maintain consistency in your content. The following guidelines have information on specific message types:</p>

  <ul class="mb-24 pl-48">
    <li>
      <p class="paragraph-text mb-8"><a href="#">Error messages</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Success messages</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Info messages</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Warning messages</a></p>
    </li>

    <li>
      <p class="paragraph-text mb-8"><a href="#">Feature discovery</a></p>
    </li>
  </ul>

  <p class="paragraph-text mb-16">The table below will help you pick out what component to use to express a certain
    message. For example, if you want to
    show off a new feature to a user, investigate patterns and recommendations for spotlights, benefits modals and empty
    states. Or if you want to tell someone they've accomplished a task successfully, check out the patterns and
    recommendations for flag messages.</p>

  <table style="width: 100%; text-align: left;">
    <thead>
    <tr>
      <th><strong>&nbsp;</strong></th>
      <th><strong>Info</strong></th>
      <th><strong>Loading</strong></th>
      <th><strong>Success</strong></th>
      <th><strong>Warning</strong></th>
      <th><strong>Error</strong></th>
      <th><strong>Feature discovery</strong></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><strong>Empty state</strong></td>
      <td>Yes</td>
      <td></td>
      <td>Yes</td>
      <td></td>
      <td></td>
      <td>Yes</td>
    </tr>

    <tr>
      <td><strong>Banner</strong></td>
      <td>Yes</td>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Flag</strong></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Section messages</strong></td>
      <td>Yes</td>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Inline messages</strong></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Modal</strong></td>
      <td>Yes</td>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Benefits modal</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Yes</td>
    </tr>

    <tr>
      <td><strong>Spotlight</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Yes</td>
    </tr>
    </tbody>
  </table>
</div>
