<!--2. hero section-->
<section class="section background-color-light-grey">
  <div class="section-inner-container display-grid flow-column">
    <div class="display-flex flex-direction-column justify-content-center">
      <h1 class="hero-text mb-12">Design, develop, deliver</h1>
      <h5 class="heading-5 text-light-grey">Use Atlassian’s end-to-end design language to create simple, intuitive and
        beautiful experiences.</h5>
    </div>
    <img src="assets/illustrations/illustration-hero.png" alt="">
  </div>
</section>

<!--3. explore-->
<section class="section background-color-dark-blue">
  <div class="section-inner-container display-grid col-2-layout">
    <div class="card-surface display-grid flow-column">
      <div class="display-grid col-2-layout align-items-center">
        <div class="media-wrapper">
          <img src="assets/illustrations/illustration-components.png" alt="">
        </div>
        <div class="display-flex flex-direction-column">
          <h5 class="heading-5 display-flex align-items-center mb-20">
            <div class="icon-rectangular small mr-16">
              <svg role="presentation" fill="none" height="24" viewBox="0 0 24 24" width="24">
                <rect fill="#57d9a3" height="24" rx="3" width="24"></rect>
                <path
                  d="m14.684 14.26c-.588.3-1.236.492-2.04.492-1.752 0-2.784-1.068-2.784-2.676s.996-2.712 2.736-2.712c.876 0 1.5.204 2.088.564v-1.368c-.576-.396-1.368-.564-2.184-.564-2.592 0-4.092 1.656-4.092 4.08 0 2.484 1.5 4.044 4.104 4.044.864 0 1.668-.156 2.172-.492z"
                  fill="#fff"></path>
              </svg>
            </div>
            Components
          </h5>
          <p class="content-description text-light-grey mb-20">Components are the intuitive building blocks of our
            design
            system.</p>
          <a routerLink="components" class="link">Explore our components
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="card-surface display-grid flow-column">
      <div class="display-grid col-2-layout align-items-center">
        <div class="media-wrapper">
          <img src="assets/illustrations/illustration-patterns.png" alt="">
        </div>
        <div class="display-flex flex-direction-column">
          <h5 class="heading-5 display-flex align-items-center mb-20">
            <div class="icon-rectangular small mr-16">
              <svg role="presentation" fill="none" height="24" viewBox="0 0 24 24" width="24">
                <rect fill="#ffc400" height="24" rx="3" width="24"></rect>
                <path
                  d="m14.912 10.852c0-1.692-.984-2.736-2.976-2.736h-2.904v7.884h1.44v-2.412h1.464c1.992 0 2.976-.984 2.976-2.736zm-3.12 1.476h-1.32v-2.904h1.32c1.236 0 1.704.588 1.704 1.452 0 .9-.468 1.5-1.704 1.452z"
                  fill="#fff"></path>
              </svg>
            </div>
            Patterns
          </h5>
          <p class="content-description text-light-grey mb-20">Patterns are reusable combinations of our components that
            solve
            common
            user problems.</p>
          <a href="#" class="link">Explore our patterns
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--4. brand-->
<section class="section background-color-light-grey">
  <div class="section-inner-container display-grid col-1fr-2fr-layout">
    <div class="display-flex flex-direction-column justify-content-center">
      <h5 class="heading-5 display-flex align-items-center mb-20">
        <div class="icon-rectangular small mr-16">
          <svg role="presentation" fill="none" height="24" viewBox="0 0 24 24" width="24">
            <rect fill="#0065ff" height="24" rx="3" width="24"></rect>
            <path
              d="m12.608 12.532c.96 0 1.368.408 1.368 1.164 0 .72-.42 1.056-1.344 1.056h-2.16v-2.22zm-.288-3.204c.876 0 1.284.324 1.284 1.02s-.372 1.116-1.284 1.116h-1.848v-2.136zm-3.288 6.672h3.78c1.764 0 2.616-.864 2.616-2.124 0-1.116-.564-1.74-1.728-1.932.888-.216 1.332-.804 1.332-1.764 0-1.272-.78-2.064-2.388-2.064h-3.612z"
              fill="#fff"></path>
          </svg>
        </div>
        Brand
      </h5>
      <p class="content-description text-light-grey mb-20">Our brand reflects who we are and how we want our users to
        feel when
        they
        use our products.</p>
      <a href="#" class="link">Explore our brand
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </div>

    <div class="display-grid col-3-layout">
      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular brand medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M6 12.235v6.446c0 .537.45.977 1 .977s1-.44 1-.977v-5.778c1.17-.341 2.389-.045 3.768.29.982.238 2.036.495 3.13.495a5.73 5.73 0 002.547-.567 1 1 0 00.563-.9V5.466a.998.998 0 00-1.437-.9c-1.345.654-2.731.317-4.331-.071-1.729-.42-3.687-.895-5.678.072A1 1 0 006 5.466v6.769zm3.111-1.48c1.094 0 2.148.256 3.129.495 1.381.335 2.6.63 3.768.289V6.836c-1.488.27-2.93-.08-4.24-.398-1.379-.335-2.598-.632-3.768-.29v4.704a6.195 6.195 0 011.111-.097z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Mission
        </h5>
        <p class="paragraph-text">Our mission is to unleash the potential in every team. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular brand medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M12 21a9 9 0 110-18 9 9 0 010 18zm0-2a7 7 0 100-14 7 7 0 000 14zm-3.95-4.803c-.167-.477.102-.991.601-1.15.5-.159 1.039.099 1.205.575.06.174.225.487.495.796.426.488.956.764 1.649.764.693 0 1.223-.276 1.65-.764.27-.31.433-.622.494-.796.166-.476.706-.734 1.205-.575.499.159.768.673.602 1.15a4.38 4.38 0 01-.839 1.385C14.348 16.458 13.306 17 12 17s-2.348-.542-3.112-1.418a4.382 4.382 0 01-.839-1.385zM9.5 11a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Personality
        </h5>
        <p class="paragraph-text">Our personality describes the tone we use for external communications. It should be
          expressed
          as an embodiment of our values.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular brand medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M12 16.373l3.98 2.193-.76-4.655 3.276-3.347-4.524-.69L12 5.687l-1.972 4.189-4.524.689L8.78 13.91l-.762 4.655L12 16.373zm0 2.283l-3.016 1.662a2 2 0 01-2.939-2.075l.599-3.656-2.57-2.624a2 2 0 011.129-3.377l3.47-.528 1.518-3.224a2 2 0 013.618 0l1.519 3.224 3.47.528a2 2 0 011.127 3.377l-2.569 2.624.599 3.656a2 2 0 01-2.94 2.075L12 18.656z"
                fill="currentColor"></path>
            </svg>
          </div>
          Promise
        </h5>
        <p class="paragraph-text">Our promise is that our tools and practices will help teams work better together in an
          agile,
          open, and scalable way.</p>
      </div>
    </div>
  </div>
</section>

<!--5. foundations-->
<section class="section background-color-light-grey">
  <div class="section-inner-container display-grid col-1fr-2fr-layout">
    <div class="display-flex flex-direction-column justify-content-center">
      <h5 class="heading-5 display-flex align-items-center mb-20">
        <div class="icon-rectangular small mr-16">
          <svg role="presentation" fill="none" height="24" viewBox="0 0 24 24" width="24">
            <rect fill="#00c7e6" height="24" rx="3" width="24"></rect>
            <path d="m14.856 13.228v-1.296h-3.48v-2.52h3.84v-1.296h-5.28v7.884h1.44v-2.772z" fill="#fff"></path>
          </svg>
        </div>
        Foundations
      </h5>
      <p class="content-description text-light-grey mb-20">Foundations are the visual elements needed to create engaging
        layouts
        and end-to-end user experiences.</p>
      <a href="#" class="link">Explore our foundations
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </div>

    <div class="display-grid col-3-layout">
      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular foundations medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M7.818 12.56l4.243 4.243 4.242-4.242-4.242-4.243-4.243 4.243zm-1.414 1.415a1.995 1.995 0 010-2.828l4.243-4.243a1.995 1.995 0 012.828 0l4.243 4.243c.78.78.786 2.041 0 2.828l-4.243 4.243a1.996 1.996 0 01-2.828 0l-4.243-4.243zM6.5 13h11l-5.44 5.218L6.5 13zm2.732-8.925a1 1 0 011.414 0l3.536 3.536-1.414 1.414L9.232 5.49a1 1 0 010-1.415zM18 16s1.5 2 1.5 3.5c0 1-1 1.5-1.5 1.5s-1.5-.4-1.5-1.5C16.5 18 18 16 18 16z"
                fill="currentColor"></path>
            </svg>
          </div>
          Color
        </h5>
        <p class="paragraph-text">Color distinguishes our brand and helps us create consistent experiences across
          products.</p>
      </div>

      <div class="card-surface">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular foundations medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M12 16.373l3.98 2.193-.76-4.655 3.276-3.347-4.524-.69L12 5.687l-1.972 4.189-4.524.689L8.78 13.91l-.762 4.655L12 16.373zm0 2.283l-3.016 1.662a2 2 0 01-2.939-2.075l.599-3.656-2.57-2.624a2 2 0 011.129-3.377l3.47-.528 1.518-3.224a2 2 0 013.618 0l1.519 3.224 3.47.528a2 2 0 011.127 3.377l-2.569 2.624.599 3.656a2 2 0 01-2.94 2.075L12 18.656z"
                fill="currentColor"></path>
            </svg>
          </div>
          Iconography
        </h5>
        <p class="paragraph-text">Icons are visual representations of commands, devices, directories, or common
          actions.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular foundations medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M6.26 6.678l-3.237 9.534a.5.5 0 00.473.66h1.032a.75.75 0 00.717-.53l.648-2.107H9.63l.647 2.107a.75.75 0 00.717.53h1.113a.5.5 0 00.473-.66L9.337 6.677A1 1 0 008.39 6H7.207a1 1 0 00-.947.678zM7.736 8.08h.051l1.364 4.453H6.372L7.736 8.08zm11.113 2.043v-.327a1 1 0 011-1H20a1 1 0 011 1v6.078a1 1 0 01-1 1h-.151a1 1 0 01-1-1v-.312h-.088c-.392.874-1.232 1.439-2.418 1.439-1.975 0-3.221-1.613-3.221-4.182 0-2.546 1.254-4.15 3.221-4.15 1.172 0 2.026.595 2.418 1.454h.088zm-.045 2.712c0-1.47-.685-2.404-1.754-2.404-1.068 0-1.725.92-1.725 2.404 0 1.491.657 2.395 1.725 2.395 1.076 0 1.754-.911 1.754-2.395z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Typography
        </h5>
        <p class="paragraph-text">Typography is our system of fonts. Each font conveys the appropriate sentiment to
          assist
          our
          users through each stage of their journey. </p>
      </div>
    </div>
  </div>
</section>

<!--6. content-->
<section class="section background-color-light-grey">
  <div class="section-inner-container display-grid col-1fr-2fr-layout">
    <div class="display-flex flex-direction-column justify-content-center">
      <h5 class="heading-5 display-flex align-items-center mb-20">
        <div class="icon-rectangular small mr-16">
          <svg role="presentation" fill="none" height="24" viewBox="0 0 24 24" width="24">
            <rect fill="#ff5630" height="24" rx="3" width="24"></rect>
            <path
              d="m14.684 14.26c-.588.3-1.236.492-2.04.492-1.752 0-2.784-1.068-2.784-2.676s.996-2.712 2.736-2.712c.876 0 1.5.204 2.088.564v-1.368c-.576-.396-1.368-.564-2.184-.564-2.592 0-4.092 1.656-4.092 4.08 0 2.484 1.5 4.044 4.104 4.044.864 0 1.668-.156 2.172-.492z"
              fill="#fff"></path>
          </svg>
        </div>
        Content
      </h5>
      <p class="content-description text-light-grey mb-20">Our content guidance covers our voice and tone, and the
        mechanics of
        our grammar and style.</p>
      <a href="#" class="link">Explore content guidance
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>

    </div>

    <div class="display-grid col-3-layout">
      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M15.698 17C16.97 17 18 15.982 18 14.727c0-1.255-1.03-2.273-2.302-2.273-2.301 0-.767-4.393 2.302-4.393V7c-5.478 0-7.624 10-2.302 10zm-4.33-2.273c0-1.255-1.031-2.273-2.301-2.273-2.302 0-.768-4.393 2.301-4.393V7C5.891 7 3.744 17 9.067 17c1.27 0 2.301-1.018 2.301-2.273z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Language and grammar
        </h5>
        <p class="paragraph-text">Use conventions to make your writing clear, consistent, and localizable. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M4 5h16c1.105 0 2 1.045 2 2.333v9.334C22 17.955 21.105 19 20 19H4c-1.105 0-2-1.045-2-2.333V7.333C2 6.045 2.895 5 4 5zm3.465 9.887h1.278L6.786 9.251H5.399l-1.957 5.636h1.183l.434-1.343h1.98l.426 1.343zM6.02 10.423h.07l.7 2.21H5.313l.707-2.21zm6.215 4.464c1.203 0 1.95-.625 1.95-1.613 0-.726-.544-1.289-1.29-1.344v-.07a1.219 1.219 0 001.02-1.203c0-.871-.653-1.406-1.747-1.406H9.704v5.636h2.53zm-1.352-4.734h.985c.562 0 .886.27.886.719 0 .453-.347.715-.984.715h-.887v-1.434zm0 3.832v-1.601h1.024c.695 0 1.074.273 1.074.789 0 .527-.367.812-1.047.812h-1.05zm6.762 1.047c1.36 0 2.352-.84 2.45-2.059h-1.15c-.112.621-.62 1.02-1.296 1.02-.89 0-1.441-.738-1.441-1.926 0-1.187.55-1.922 1.437-1.922.672 0 1.184.426 1.297 1.074h1.148c-.086-1.226-1.109-2.113-2.445-2.113-1.637 0-2.645 1.13-2.645 2.961 0 1.836 1.012 2.965 2.645 2.965z"
                fill="currentColor"></path>
            </svg>
          </div>
          Vocabulary
        </h5>
        <p class="paragraph-text">A list of words that are defined in terms of how we use them at Atlassian. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular content medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M4.02 19.23a1 1 0 001.18 1.18l3.81-.78-4.21-4.21-.78 3.81zm5.921-2.62l-2.12-2.12L16.306 6h.002l2.121 2.121-8.489 8.49zm9.903-9.903l-2.12-2.122A1.997 1.997 0 0016.308 4c-.512 0-1.024.195-1.415.585l-9.757 9.758 4.95 4.95 9.757-9.758a2 2 0 000-2.828z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Writing style
        </h5>
        <p class="paragraph-text">The Atlassian writing style reflects our core company values, company mission, design
          principles, and our voice and tone.</p>
      </div>
    </div>
  </div>
</section>

<!--7. resources-->
<section class="section background-color-neutral-grey">
  <div class="section-inner-container">
    <div class="display-grid flow-row">
      <h3 class="heading-3 text-center">Resources</h3>
      <p class="content-description text-light-grey text-center mb-20">A collection of tools, kits, plugins and guides
        to help
        simplify the creation process for our users.</p>
    </div>

    <div class="display-grid col-3-layout">
      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular resources medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M13 11V3.993A.997.997 0 0012 3c-.556 0-1 .445-1 .993V11H3.993A.997.997 0 003 12c0 .557.445 1 .993 1H11v7.007c0 .548.448.993 1 .993.556 0 1-.445 1-.993V13h7.007A.997.997 0 0021 12c0-.556-.445-1-.993-1H13z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Contribution
        </h5>
        <p class="paragraph-text">Contribute to our design system offering – a library of content, design, tooling, and
          code for products.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular resources medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.248 0A3.248 3.248 0 000 3.248v17.504A3.248 3.248 0 003.248 24h17.504A3.248 3.248 0 0024 20.752V3.248A3.248 3.248 0 0020.752 0H3.248zm8.755 17.012a2.506 2.506 0 01-2.505 2.507 2.506 2.506 0 010-5.013 2.506 2.506 0 010-5.012 2.506 2.506 0 010-5.013h5.009a2.506 2.506 0 010 5.013h-2.505v2.5a2.506 2.506 0 012.505-2.5 2.506 2.506 0 010 5.012 2.506 2.506 0 01-2.505-2.5v5.006z"
                    fill="#5243AA"></path>
            </svg>
          </div>
          Figma library
        </h5>
        <p class="paragraph-text">Our Figma libraries contain the latest foundations, components, and patterns for
          designing and
          building Atlassian products.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular resources medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M6.26 6.678l-3.237 9.534a.5.5 0 00.473.66h1.032a.75.75 0 00.717-.53l.648-2.107H9.63l.647 2.107a.75.75 0 00.717.53h1.113a.5.5 0 00.473-.66L9.337 6.677A1 1 0 008.39 6H7.207a1 1 0 00-.947.678zM7.736 8.08h.051l1.364 4.453H6.372L7.736 8.08zm11.113 2.043v-.327a1 1 0 011-1H20a1 1 0 011 1v6.078a1 1 0 01-1 1h-.151a1 1 0 01-1-1v-.312h-.088c-.392.874-1.232 1.439-2.418 1.439-1.975 0-3.221-1.613-3.221-4.182 0-2.546 1.254-4.15 3.221-4.15 1.172 0 2.026.595 2.418 1.454h.088zm-.045 2.712c0-1.47-.685-2.404-1.754-2.404-1.068 0-1.725.92-1.725 2.404 0 1.491.657 2.395 1.725 2.395 1.076 0 1.754-.911 1.754-2.395z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Fonts
        </h5>
        <p class="paragraph-text">Our fonts have been chosen to communicate in a way that helps our users achieve their
          goals. </p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular resources medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <path
                d="M4.02 19.23a1 1 0 001.18 1.18l3.81-.78-4.21-4.21-.78 3.81zM19.844 6.707l-2.12-2.122A1.997 1.997 0 0016.308 4c-.512 0-1.024.195-1.415.585l-9.757 9.758 4.95 4.95 9.757-9.758a2 2 0 000-2.828z"
                fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </div>
          Illustration library
        </h5>
        <p class="paragraph-text">A catalog of our visual storytelling assets.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular resources medium mb-16">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
              <defs>
                <linearGradient id="uid2" x1="14.8402" y1="15.8324" x2="8.6599" y2="26.5369"
                                gradientUnits="userSpaceOnUse">
                  <stop stop-color="inherit" stop-opacity="0.4" offset="0%"></stop>
                  <stop stop-color="inherit" offset="0.9228"></stop>
                </linearGradient>
              </defs>
              <path fill="url(#uid2)"
                    d="M11.6397 14.0398C11.2789 13.643 10.7378 13.679 10.4852 14.148L4.64091 25.8728C4.42446 26.3418 4.74912 26.8829 5.25419 26.8829H13.4074C13.6599 26.8829 13.9125 26.7386 14.0207 26.4861C15.7885 22.8424 14.7061 17.3227 11.6397 14.0398Z"></path>
              <path fill="inherit"
                    d="M15.9343 3.36124C12.6513 8.55622 12.8678 14.2923 15.0324 18.6215C17.1969 22.9506 18.8565 26.2336 18.9647 26.4861C19.0729 26.7386 19.3254 26.8829 19.578 26.8829H27.7312C28.2363 26.8829 28.597 26.3418 28.3445 25.8728C28.3445 25.8728 17.3774 3.93846 17.0887 3.39732C16.8723 2.89225 16.259 2.85618 15.9343 3.36124Z"></path>
            </svg>
          </div>
          Logo library
        </h5>
        <p class="paragraph-text">Atlassian’s official logos and lockups for all programs, properties, and products.</p>
      </div>

      <div class="card-surface display-flex flex-direction-column">
        <h5 class="heading-5 display-flex flex-direction-column justify-content-center mb-8">
          <div class="icon-rectangular resources medium mb-16">
            <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
              <g fill="currentColor" fill-rule="evenodd">
                <path
                  d="M3 6.009C3 4.899 3.893 4 4.995 4h14.01C20.107 4 21 4.902 21 6.009v7.982c0 1.11-.893 2.009-1.995 2.009H4.995A2.004 2.004 0 013 13.991V6.01zM5 14h14V6H5v8z"
                  fill-rule="nonzero"></path>
                <path d="M10 17h4v3h-4zm-1 3.5a.5.5 0 01.491-.5h5.018a.5.5 0 01.491.5v.5H9v-.5z"></path>
              </g>
            </svg>
          </div>
          Presentation kit
        </h5>
        <p class="paragraph-text">Our complete kit of presentation assets in Keynote and PowerPoint includes graphic
          assets,
          sample decks, and more.</p>
      </div>
    </div>
  </div>
</section>
