<h2>Tips</h2>

<ul>
  <li>
    <p>Be careful with the fonts you're choosing for your headers. If you use a decorative or script font, it may seem
      that the larger font size of headers may help, it doesn't necessarily in production. Sans-serif and Serif
      fonts are better options for headers, as they should remain legible across all device types and screen sizes.</p>
  </li>

  <li>
    <p>If all of your headers are intended to be visually the same, keep in mind that this may get confusing for both
      developers and your intended users. Make sure to still difference your headers from your main body text and from
      each other, especially if your headers from your main body text and from each other, especially if your headers
      communicate the same thing.</p>
  </li>

  <li>
    <p>Try to be consistent in your header use. The developers also need to be aware of this, but as a designer, you
      should make sure that you aren't using a font-size of 48px for a second-level heading on one page and font size of
      49px for a first-level heading on another page.</p>
  </li>

  <li>
    <p>Get comfortable learning the different header types for a website and be sure to communicate clearly in your
      style guide what you want each one to look like after development. Otherwise, you and the developer may find
      yourself with different expectations.</p>
  </li>
</ul>
