    <section class="co-modal-main-grid-info-block">
      <div class="co-main-grid-notes">
        <label for="notes-textarea">Notes</label>
        <textarea id="notes-textarea" name="notes" placeholder="Notes here..." rows="6"></textarea>
      </div>

      <div class="co-main-grid-info">
        <span>Discounts</span>
        <span>0.00</span>
        <span>Subtotal</span>
        <span>440.00</span>
        <span>Taxes</span>
        <span>0.00</span>
        <span>Total</span>
        <span>450.00</span>
        <span>Deposit</span>
        <span>0.00</span>
        <span class="total">Balance Due</span>
        <span class="total">440.00</span>
      </div>
    </section>
